{% extends  'main/index.html' %}
{% load static %}


<main role="main">
{% block body %}
<link rel="stylesheet" href="{% static 'css/service_report.css' %}">


<div class="container-flex px-lg-5">
    <br>
    <h3 class="text-center">{% if service_report_data.title %}{{ service_report_data.title }}{% else %}Пустой отчёт{% endif %}</h3>
    <div class="text-center pb-4">{{ service_report_data.message }}</div>

    {% if service_report_data.success_list %}
    <h4>Успешно выполнено:</h4>
        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="width: 5%;">Program_id</th>
                <th style="width: 30%;">Название</th>
                <th style="width: 5%;">File_id</th>
                <th style="width: 35%;">Путь к файлу</th>
                <th style="width: 5%;">Длительность</th>
                <th style="width: 7%;">Исполнитель</th>
                <th style="width: 7%;">Расписание</th>
                <th style="width: 6%;">Дата эфира</th>
            </tr>
        </thead>
        <tbody id="sucess_list">
          {% for program in service_report_data.success_list %}
            <tr>
              <td class="text-success-emphasis bg-success-subtle">{{ program.program_id }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.progs_name }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.file_id }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.file_path }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.duration|convert_frames_to_time }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.worker_id|planner_worker_name }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.sched_id|schedule_name }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.sched_date|date:'d.m.Y' }}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
    {% endif %}
    <br>
    {% if service_report_data.error_list %}
    <h4>Не выполнено:</h4>
        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="width: 5%;">Program_id</th>
                <th style="width: 30%;">Название</th>
                <th style="width: 5%;">File_id</th>
                <th style="width: 35%;">Путь к файлу</th>
                <th style="width: 5%;">Длительность</th>
                <th style="width: 7%;">Исполнитель</th>
                <th style="width: 7%;">Расписание</th>
                <th style="width: 6%;">Дата эфира</th>
            </tr>
        </thead>
        <tbody id="error_list">
          {% for program in service_report_data.error_list %}
            <tr>
              <td class="text-success-emphasis bg-success-subtle">{{ program.program_id }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.progs_name }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.file_id }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.file_path }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.duration|convert_frames_to_time }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.worker_id|planner_worker_name }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.sched_id|schedule_name }}</td>
              <td class="text-success-emphasis bg-success-subtle">{{ program.sched_date|date:'d.m.Y' }}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
    {% endif %}
    <br>
    <div class="card">
        <div class="card-header d-flex">
            <button class="btn p-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#jsonCollapse"
                    aria-expanded="false">
                <svg class="collapse-icon me-2" width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
                Полный отчёт (JSON)
            </button>
            <button class="btn btn-sm btn-outline-secondary ms-auto" onclick="copyCode(this)">copy</button>
        </div>

        <div id="jsonCollapse" class="collapse">
            <div class="card-body p-0">
                <div class="code-container bg-primary-subtle">
                    <pre class="p-3 mb-0">{{ service_report_data|pprint }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/service_report.js' %}"></script>

{% endblock %}
</main>

