.table-row {
    min-height: 2.5rem;
    align-items: center;
}

.table-row:hover {
    background-color: var(--bs-secondary-bg);
}

.modal-xxl {
    max-width: 1400px;
}

#graphics_container {
    transition: opacity 0.2s ease;
}

#graphics_container.loading {
    opacity: 0.5;
    pointer-events: none;
}

/* Контейнер для таблицы */
#schedule_table_container {
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* Основная таблица */
#schedule_table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Заголовок таблицы */
#schedule_table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* Тело таблицы с прокруткой */
#schedule_table tbody {
    display: block;
    overflow-y: auto;
    width: 100%;
    flex: 1;
}

/* Строки в теле таблицы */
#schedule_table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#schedule_table th:nth-child(1),
#schedule_table td:nth-child(1) {
    width: 1%; /* col-1 */
}
#schedule_table th:nth-child(2),
#schedule_table td:nth-child(2) {
    width: 10%; /* col-2 */
}

#schedule_table th:nth-child(3),
#schedule_table td:nth-child(3) {
    width: 15%; /* col-3 */
}

#schedule_table th:nth-child(4),
#schedule_table td:nth-child(4) {
    width: 10%; /* col-4 */
}

#schedule_table th:nth-child(5),
#schedule_table td:nth-child(5) {
    width: 10%; /* col-5 */
}

#schedule_table th:nth-child(6),
#schedule_table td:nth-child(6) {
    width: 15%; /* col-6 */
}

#schedule_table th:nth-child(7),
#schedule_table td:nth-child(7) {
    width: 39%; /* col-7 */
}

.form-control {
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.no-material {
    /* Основной фон из темы */
    background-color: var(--bs-danger-bg-subtle, #f8d7da);
    background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 20px,
        rgba(220, 53, 69, 0.2) 20px,  /* полупрозрачный красный */
        rgba(220, 53, 69, 0.2) 40px
    );
    color: var(--bs-body-color, #212529);
}