<h6>Всего на странице: {{ pool_list|length|thousands }}</h6>
<div class="d-flex">
    <h6 class="me-4" id="total_count">Выбрано: 0</h6>
    <h6 id="total_dur">Общий хронометраж: 00:00:00</h6>
</div>
<hr width="100%" size="2"><br>
<table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 3%;"><input class="form-check-input me-1" type="checkbox" value="" id="full_select" onclick="changeProgramIdCheckbox()"></th>
            <th style="width: 7%;">Program_id</th>
            <th style="width: 80%;">Название</th>
            <th style="width: 10%;">Длительность</th>
        </tr>
    </thead>
    <tbody class="table-group-divider" id="tableBody">
        {% for material in pool_list %}
            <tr>
                <td>
                    <input class="form-check-input me-1" type="checkbox"
                           data-program-id="{{ material.Progs_program_id }}" data-program-name="{{ material.Progs_name }}"
                           data-production-year="{{ material.Progs_production_year }}" value="{{ material.Progs_program_id }}"
                           data-duration="{{ material.Progs_duration }}" name="program_id_check">
                <td><a href="{% url 'home' %}{{ material.Progs_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    {{ material.Progs_program_id }}
                </a></td>
                <td><a href="{% url 'home' %}{{ material.Progs_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                {{ material.Progs_name }}
                {% if material.Progs_production_year %} ({{ material.Progs_production_year }}){% endif %}
                {% if material.Adult_Name %} {{ material.Adult_Name }}{% endif %}</a></td>
                <td>{{ material.Progs_duration|convert_frames_to_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex bg-body py-2 sticky-bottom">
{% if permissions.auth_group == 'admin' %}
  <div class="me-auto">
    <button type="button" onclick="showApproveCommonTask(1)" class="btn btn-outline-secondary mx-0">В Общую задачу</button>
  </div>
{% endif %}
{% if permissions.auth_group == 'preparation_engineers' or permissions.auth_group == 'moderators' %}
  <div class="me-auto">
    <button type="button" onclick="showApproveCommonTask(99)" class="btn btn-outline-secondary mx-0">Взять в работу</button>
  </div>
{% endif %}
</div>