/planner/mongodb/
/planner/mongodb_data/
/planner/mongosh/
/planner/media
/planner/static/bootstrap-5.3.3-dist
/planner/static/Semantic-UI-master
/planner/static/SortableJS
/planner/static/ChartJS
/planner/static/jquery
/ssl
.idea
.env
**/migrations/
**/trash/
export_structure.py
project_structure.txt
install_media_task_distributor.sh
notes