{% extends  'main/index.html' %}
{% load static %}

<main role="main">
{% block body %}
<div class="container-flex px-lg-5">
<br>

  <form method="post">
    {% csrf_token %}

    <div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog" style="position: absolute; top: 50px; right: 100px;">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Ошибка!</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h5>Ни один файл не выбран!</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ApproveOTK" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Утвердить выбранные задачи?</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button name="approve_otk" id="approve_otk" value="True" type="submit" class="btn btn-success">Утвердить</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ApproveFIX" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="ApproveFIXLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="ApproveFIXLabel">
                Отправить перезалитый FIX в работу?
              </h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="fix_list">

            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" name="approve_fix" id="approve_fix" value="True" class="btn btn-outline-warning">Отправить</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="OTKFail" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Отправить на доработку выбранные задачи?</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="otk_fail_list">

            </div>
          </div>
          <div class="modal-footer">
            <button name="otk_fail" id="otk_fail" value="True" type="submit" class="btn btn-warning">На доработку</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="OTKComment" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="otk_comment_title">Комментарии по исправлению</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="otk_comment_body">

            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="d-flex p-0 m-0 align-items-center justify-content-start">
      <div class="row ms-0 m-2 align-items-center">
        {% for field in form %}
          <div class="col ps-0">
            <div class="form-floating" style="width:210px;">
              {{ field }}
              {{ field.label_tag }}
            </div>
          </div>
        {% endfor %}
        <div class="col ps-0 m-0">
          <button type="submit" class="btn register-button btn-outline-secondary">Применить</button>
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex">
      <h6 class="pe-5">Всего: {{ service_dict.total_count|thousands }}</h6>
      <h6>Продолжительность: {{ service_dict.total_duration|convert_frames_to_time }}</h6>
    </div><br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 1%;"><input class="form-check-input me-1" type="checkbox" value="" id="full_select" onclick="changeProgramIdCheckbox()"></th>
          <th style="width: 25%;">Название</th>
          <th style="width: 5%;">Директория</th>
          <th style="width: 35%;">Имя файла</th>
          <th style="width: 10%;">Исполнитель</th>
          <th style="width: 7%;">Дата эфира</th>
          <th style="width: 7%;">Длительность</th>
          <th style="width: 10%;">Статус</th>
        </tr>
      </thead>
      <tbody class="table-group-divider" id="tableBody">
        {% for task in task_list %}
          <tr>
            <td>
              <input class="form-check-input me-1" type="checkbox"
                     value="{{ task.Task_program_id }};{{ task.Progs_name }};{% if task.Task_file_path %}{{ task.Task_file_path }}{% else %}{{ task.Files_Name }}{% endif %}"
                     name="program_id">
            </td>
            <td>
            <a href="{% url 'home' %}{{ task.Task_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            {{ forloop.counter }}. {{ task.Progs_name }}{% if task.Progs_production_year %} ({{ task.Progs_production_year }}){% endif %}</a>
              {% if task.comments %}
              <div class="btn-group dropend">
                <button type="button" class="btn btn-sm dropdown-toggle align-items-center text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill ms-4" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20" id="comment">{{ task.comments|length }} </button>
                <div class="dropdown-menu p-3" style="min-width: 560px;">
                  <h5>{{ task.comments.0.Progs_name }}</h5>
                  <div class="dropdown-divider"></div>
                  {% for comment in task.comments %}
                      <h6>Исправить до: {{ comment.deadline }}</h6>
                      <textarea class="form-control" style="min-height: 60px;" disabled>{{ comment.comment }}</textarea>
                      <div class="dropdown-divider"></div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
            </td>
            <td>{% if task.Task_file_path %}{{ task.Task_file_path|dir_name }}{% else %}{{ task.Files_Name|dir_name }}{% endif %}</td>
            <td>{% if task.Task_file_path %}{{ task.Task_file_path|file_name }}{% else %}{{ task.Files_Name|file_name }}{% endif %}</td>
            <td>
              <a href="{% url 'home' %}worker/{{ task.Task_engineer_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                {{ task.Task_engineer_id|engineer_name }}</a></td>
            <td>{{ task.Task_sched_date|date:'d-m-Y' }}</td>
            <td>{{ task.Task_duration|convert_frames_to_time }}</td>
            <td>{{ task.Task_task_status|status_name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex">
      <div class="input-group" style="width: 35rem;">
        <label class="input-group-text" for="inputGroupSelect01">Выберите действие</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>...</option>
          <option value="1">Заменить исполнителя</option>
          <option value="2">Изменить дату отсмотра</option>
          <option value="3">Редактировать материал</option>
        </select>
      </div>

<!--      <div class="me-auto">-->
<!--        <button type="button" onclick="ShowApproveOTK()" class="btn register-button btn-outline-success mx-2">Утвердить</button>-->
<!--      </div>-->
<!--      <div class="ms-auto">-->
<!--        <button type="button" onclick="ProgramIdList()" class="btn register-button btn-outline-warning mx-2">Отправить FIX</button>-->
<!--        <button type="button" onclick="ShowOTKFail()" class="btn register-button btn-outline-danger mx-2">На доработку</button>-->
<!--      </div>-->
    </div>
  </form>
</div>
<br>
<script type="text/javascript" src="{% static 'js/admin_work_list.js' %}"></script>

{% endblock %}
</main>

