<div class="d-flex mb-3">
  <h6 class="pe-5" id="total_num">Всего: {{ service_dict.total_count|thousands }}</h6>
  <h6 id="total_dur">Продолжительность: {{ service_dict.total_duration|convert_frames_to_time }}</h6>
</div>

<br>
<div id="message_container">
  {% include  'main/messages.html' %}
</div>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="sort_ASC_active" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
    </symbol>
    <symbol id="sort_DESC_active" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
    </symbol>
    <symbol id="sort_ASC" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
      <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
    </symbol>
    <symbol id="sort_DESC" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
      <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
    </symbol>
</svg>

<table class="table table-hover align-middle">
  <thead>
    <tr>
      <th style="width: 1%;"><input class="form-check-input me-1" type="checkbox" value="" id="full_select" onclick="changeProgramIdCheckbox()"></th>
      <th style="width: 23%;">
        <div class="d-flex justify-content-between align-items-center link-body-emphasis link-offset-3-hover" onclick="sortTable(this);"
             data-order="progs_name" style="cursor: pointer;">
          <span>Название</span>
          <span class="p-0 ms-2">
            <svg width="12" height="12" fill="currentColor" class="sort-icon">
              {% if service_dict.order == 'progs_name' %}
                <use xlink:href="#sort_{{service_dict.order_type}}_active"/>
              {% else %}
                <use xlink:href="#sort_{{service_dict.order_type}}"/>
              {% endif %}
            </svg>
          </span>
        </div>
      </th>
      <th style="width: 9%;">
        <div class="d-flex justify-content-between align-items-center link-body-emphasis link-offset-3-hover" onclick="sortTable(this);"
          data-order="engineers" style="cursor: pointer;">
          <span>Исполнитель</span>
          <span class="p-0 ms-2">
            <svg width="12" height="12" fill="currentColor" class="sort-icon">
              {% if service_dict.order == 'engineers' %}
                <use xlink:href="#sort_{{service_dict.order_type}}_active"/>
              {% else %}
                <use xlink:href="#sort_{{service_dict.order_type}}"/>
              {% endif %}
            </svg>
          </span>
        </div>
      </th>
      <th style="width: 8%;">
        <div class="d-flex justify-content-between align-items-center link-body-emphasis link-offset-3-hover" onclick="sortTable(this);"
          data-order="work_date" style="cursor: pointer;">
          <span>Назначенная дата</span>
          <span class="p-0 ms-2">
            <svg width="12" height="12" fill="currentColor" class="sort-icon">
              {% if service_dict.order == 'work_date' %}
                <use xlink:href="#sort_{{service_dict.order_type}}_active"/>
              {% else %}
                <use xlink:href="#sort_{{service_dict.order_type}}"/>
              {% endif %}
            </svg>
          </span>
        </div>
      </th>
      <th style="width: 6%;">
        <div class="d-flex justify-content-between align-items-center link-body-emphasis link-offset-3-hover" onclick="sortTable(this);"
          data-order="sched_date" style="cursor: pointer;">
          <span>Дата эфира</span>
          <span class="p-0 ms-2">
            <svg width="12" height="12" fill="currentColor" class="sort-icon">
              {% if service_dict.order == 'sched_date' %}
                <use xlink:href="#sort_{{service_dict.order_type}}_active"/>
              {% else %}
                <use xlink:href="#sort_{{service_dict.order_type}}"/>
              {% endif %}
            </svg>
          </span>
        </div></th>
      <th style="width: 11%;">
        <div class="d-flex justify-content-between align-items-center link-body-emphasis link-offset-3-hover" onclick="sortTable(this);"
          data-order="status" style="cursor: pointer;">
          <span>Статус</span>
          <span class="p-0 ms-2">
            <svg width="12" height="12" fill="currentColor" class="sort-icon">
              {% if service_dict.order == 'status' %}
                <use xlink:href="#sort_{{service_dict.order_type}}_active"/>
              {% else %}
                <use xlink:href="#sort_{{service_dict.order_type}}"/>
              {% endif %}
            </svg>
          </span>
        </div></th>
      <th style="width: 6%;">
        <div class="d-flex justify-content-between align-items-center link-body-emphasis link-offset-3-hover" onclick="sortTable(this);"
          data-order="duration" style="cursor: pointer;">
          <span>Длительность</span>
          <span class="p-0 ms-2">
            <svg width="12" height="12" fill="currentColor" class="sort-icon">
              {% if service_dict.order == 'duration' %}
                <use xlink:href="#sort_{{service_dict.order_type}}_active"/>
              {% else %}
                <use xlink:href="#sort_{{service_dict.order_type}}"/>
              {% endif %}
            </svg>
          </span>
        </div></th>
      <th style="width: 34%;">
        <div class="d-flex justify-content-between align-items-center link-body-emphasis link-offset-3-hover" onclick="sortTable(this);"
          data-order="file_path" style="cursor: pointer;">
          <span>Полное имя файла</span>
          <span class="p-0 ms-2">
            <svg width="12" height="12" fill="currentColor" class="sort-icon">
              {% if service_dict.order == 'file_path' %}
                <use xlink:href="#sort_{{service_dict.order_type}}_active"/>
              {% else %}
                <use xlink:href="#sort_{{service_dict.order_type}}"/>
              {% endif %}
            </svg>
          </span>
        </div>
      </th>
      <th style="width: 2%;">
        <div class="d-flex justify-content-between align-items-center link-body-emphasis link-offset-3-hover" onclick="sortTable(this);"
          data-order="cenz" style="cursor: pointer;">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-check" viewBox="0 0 16 16">
              <path d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
            </svg>
          </span>
          <span class="p-0 ms-2">
            <svg width="12" height="12" fill="currentColor" class="sort-icon">
              {% if service_dict.order == 'cenz' %}
                <use xlink:href="#sort_{{service_dict.order_type}}_active"/>
              {% else %}
                <use xlink:href="#sort_{{service_dict.order_type}}"/>
              {% endif %}
            </svg>
          </span>
        </div>
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider overflow-auto" id="tableBody">
    {% for task, dynamic_selector in task_list_zip %}
      <tr class="{% if task.is_deleted %}text-decoration-line-through{% elif task.Task_archived %}fst-italic{% endif %}">
        <td>
          <input class="form-check-input me-1" type="checkbox"
                 value="{{ task.Task_program_id }}"
                 name="program_id_check">
          <input class="visually-hidden" type="text" value="{{ task.Task_program_id }}" name="program_id">
        </td>
        <td>
        <a href="{% url 'home' %}{{ task.Task_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
        {{ forloop.counter }}. {{ task.Progs_name }}{% if task.Progs_production_year %} ({{ task.Progs_production_year }}){% endif %}</a>
          {% if task.comments %}
          <div class="btn-group dropend">
            <button type="button" onclick="adjustTextarea(this)" class="btn btn-sm dropdown-toggle align-items-center text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill ms-4" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20" id="comment">{{ task.comments|length }} </button>
            <div class="dropdown-menu p-3" style="min-width: 560px;">
              <h5>{{ task.comments.0.Progs_name }}</h5>
              <div class="dropdown-divider"></div>
              {% for comment in task.comments %}
                  <h6>Исправить до: {{ comment.deadline }}</h6>
                  <div class="form-floating">
                    <textarea class="form-control" style="min-height: 60px;" id="commentId_{{ comment.comment_id }}" disabled>{{ comment.comment }}</textarea>
                    <label for="commentId_{{ comment.comment_id }}">{{ comment.worker_id|planner_worker_name }}</label>
                  </div>
                  <div class="dropdown-divider"></div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </td>
        <td>{{ dynamic_selector.workers_selector }}</td>
        <td>{{ dynamic_selector.work_date_selector }}</td>
        <td>{{ task.Task_sched_date|date:'d.m.Y' }}</td>
        <td>{{ dynamic_selector.status_selector }}</td>
        <td>{{ task.Task_duration|convert_frames_to_time }}
          <input value="{{ task.Task_duration }}" id="dur_{{ task.Task_program_id }}" class="visually-hidden">
        </td>
        <td>
          {{ dynamic_selector.file_path }}
        </td>
        <td>
          {% if task.Task_CENZ %}
            <span title="Была цензура" class="m-0 me-2 p-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-check" viewBox="0 0 16 16">
                <path d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
              </svg>
            </span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>