{% extends  'main/index.html' %}
{% load static %}

<main role="main">
{% block body %}
<div class="container-flex px-lg-5">
<br>

  <form method="post">
    {% csrf_token %}

    <div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog" style="position: absolute; top: 50px; right: 100px;">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Ошибка!</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h5>Ни один файл не выбран!</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ApproveOTK" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Утвердить выбранные задачи?</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button name="approve_otk" id="approve_otk" value="True" type="submit" class="btn btn-success">Утвердить</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex p-0 m-0 mb-3 align-items-center justify-content-start">
      <div class="row ms-0 m-2 align-items-center">
        {% for field in filter_form %}
          <div class="col ps-0">
            <div class="form-floating" style="width:210px;">
              {{ field }}
              {{ field.label_tag }}
            </div>
          </div>
        {% endfor %}
        <div class="col ps-0 m-0">
          <button type="submit" class="btn register-button btn-outline-secondary">Применить</button>
        </div>
      </div>
    </div>

    <form method="POST" id="poolForm">
        {% csrf_token %}
        <div class="input-group mb-3" style="width: 80%;">
            <label class="input-group-text" for="search_type">Поиск по</label>
            {{ search_form.search_type }}
            <input class="form-control" id="tableFilter" type="text" placeholder="введите название передачи ...">
            {{ search_form.sql_set }}
            <button type="submit" class="btn btn-outline-secondary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg>
            </button>
        </div>
    </form>

    <div class="d-flex mb-3">
      <h6 class="pe-5" id="total_num">Всего: {{ service_dict.total_count|thousands }}</h6>
      <h6 id="total_dur">Продолжительность: {{ service_dict.total_duration|convert_frames_to_time }}</h6>

    </div>

    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th style="width: 1%;"><input class="form-check-input me-1" type="checkbox" value="" id="full_select" onclick="changeProgramIdCheckbox()"></th>
          <th style="width: 23%;">Название</th>
          <th style="width: 10%;">Исполнитель</th>
          <th style="width: 6%;">Дата отсмотра</th>
          <th style="width: 6%;">Дата эфира</th>
          <th style="width: 11%;">Статус</th>
          <th style="width: 6%;">Длительность</th>
          <th style="width: 6%;">Директория</th>
          <th style="width: 30%;">Имя файла</th>
        </tr>
      </thead>
      <tbody class="table-group-divider" id="tableBody">
        {% for task, dynamic_selector in task_list_zip %}
          <tr>
            <td>
              <input class="form-check-input me-1" type="checkbox"
                     value="{{ task.Task_program_id }}"
                     name="program_id">
            </td>
            <td>
            <a href="{% url 'home' %}{{ task.Task_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            {{ forloop.counter }}. {{ task.Progs_name }}{% if task.Progs_production_year %} ({{ task.Progs_production_year }}){% endif %}</a>
              {% if task.comments %}
              <div class="btn-group dropend">
                <button type="button" class="btn btn-sm dropdown-toggle align-items-center text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill ms-4" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20" id="comment">{{ task.comments|length }} </button>
                <div class="dropdown-menu p-3" style="min-width: 560px;">
                  <h5>{{ task.comments.0.Progs_name }}</h5>
                  <div class="dropdown-divider"></div>
                  {% for comment in task.comments %}
                      <h6>Исправить до: {{ comment.deadline }}</h6>
                      <textarea class="form-control" style="min-height: 60px;" disabled>{{ comment.comment }}</textarea>
                      <div class="dropdown-divider"></div>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
            </td>
            <td>{{ dynamic_selector.engineers_selector }}</td>
            <td>{{ dynamic_selector.work_date_selector }}</td>
            <td>{{ task.Task_sched_date|date:'d.m.Y' }}</td>
            <td>{{ dynamic_selector.status_selector }}</td>
            <td>{{ task.Task_duration|convert_frames_to_time }}
              <input value="{{ task.Task_duration }}" id="dur_{{ task.Task_program_id }}" class="visually-hidden">
            </td>
            <td>{% if task.Task_file_path %}{{ task.Task_file_path|dir_name }}{% else %}{{ task.Files_Name|dir_name }}{% endif %}</td>
            <td>{% if task.Task_file_path %}{{ task.Task_file_path|file_name }}{% else %}{{ task.Files_Name|file_name }}{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex">
      <div class="input-group" style="width: 35rem;">
        <label class="input-group-text" for="inputGroupSelect01">Выберите действие</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>...</option>
          <option value="1">Заменить исполнителя</option>
          <option value="2">Изменить дату отсмотра</option>
          <option value="3">Редактировать материал</option>
        </select>
      </div>

<!--      <div class="me-auto">-->
<!--        <button type="button" onclick="ShowApproveOTK()" class="btn register-button btn-outline-success mx-2">Утвердить</button>-->
<!--      </div>-->
<!--      <div class="ms-auto">-->
<!--        <button type="button" onclick="ProgramIdList()" class="btn register-button btn-outline-warning mx-2">Отправить FIX</button>-->
<!--        <button type="button" onclick="ShowOTKFail()" class="btn register-button btn-outline-danger mx-2">На доработку</button>-->
<!--      </div>-->
    </div>
  </form>
</div>
<br>
<script type="text/javascript" src="{% static 'js/task_manager.js' %}"></script>

{% endblock %}
</main>

