{% load custom_filters %}

<div class="col text-center">
  <h5 class="mb-1 mb-md-2">{{ service_dict.cal_month|month_name }}</h5>
</div>
<table class="month"> <!-- Убираем cellpadding, будем управлять через CSS -->
  <thead class="text-center text-secondary">
    <tr>
      <th class="p-1 p-md-2 week-number"></th>
      <th class="mon p-1 p-md-2">Пн</th>
      <th class="tue p-1 p-md-2">Вт</th>
      <th class="wed p-1 p-md-2">Ср</th>
      <th class="thu p-1 p-md-2">Чт</th>
      <th class="fri p-1 p-md-2">Пт</th>
      <th class="sat p-1 p-md-2">Сб</th>
      <th class="sun p-1 p-md-2">Вс</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    {% for week in home_calendar %}
      <tr>
        <th class="text-secondary p-1 p-md-2">{{ week.number }}</th>
        {% for day in week.days %}
          {% if day.is_current_month %}
            <td class="p-1 p-md-2">
              <button class="btn cal-btn w-100 loading-day {% if day.is_today %}active{% endif %}"
                      name="cal_day" value="{{ day.date|date:'Y-m-d' }}" type="button">
                {{ day.day }}
              </button></td>
          {% else %}
            <td class="p-1 p-md-2">
              <button class="btn cal-btn w-100" type="button" disabled>
                {{ day.day }}</button></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
