<!--<div class="card shadow-lg mx-1 my-2 mt-0 p-2">-->
<!--  <span class="placeholder col-5"></span>-->
<!-- style="border-color: rgba(75,115,255,.1); background-color: #eee;"-->
<div class="accordion shadow ms-2 mb-2 mt-0 p-0" id="accordion_sum_info">
  <div class="accordion-item">
      <h6 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
          Описание
        </button></h6>
    <div id="collapseDescription" class="accordion-collapse collapse show" data-bs-parent="#accordion_sum_info">
      <div class="accordion-body">
        <div class="row m-0">
          <div class="col col-2 p-0">
            <img src="/static/img/no_poster.jpg" class="img-fluid rounded mx-1 my-2" alt="..." style="height: 200px;">
          </div>
          <div class="col p-0">
            <div class="row mx-1">
              <div class="col p-0">
                <h5 class="p-1 m-0" title="{{ full_info.Progs_name }}">{{ full_info.Progs_name }}</h5>
              </div>
              <div class="col p-0">
                <small class="text-body-secondary text-start p-1 m-0" title="{{ full_info.Files_Name }}">
                  {{ full_info.Files_Name|truncatechars:100 }}
                </small>
              </div>

            </div>
            <div class="row m-0">
              <div class="col col-5 p-0">
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="year_form" style="height: 50px" disabled>{{ full_info.Progs_production_year }}</textarea>
                <label for="year_form">Год</label>
              </div>
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="country_form" style="height: 50px" disabled>{{ full_info.Progs_production_country }}</textarea>
                <label for="country_form">Страна</label>
              </div>
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="director_form" style="height: 50px" disabled>{{ full_info.Progs_Director }}</textarea>
                <label for="director_form">Режиссёр</label>
              </div>
            </div>
            <div class="col col-7 p-0">
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="roles_form" style="height: 50px" disabled>{{ full_info.Progs_Cast }}</textarea>
                <label for="roles_form">В ролях</label>
              </div>
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="theme_form" style="height: 50px" disabled>{{ full_info.Progs_comment }}</textarea>
                <label for="theme_form">Тематика</label>
              </div>
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="keywords_form" style="height: 50px" disabled>{{ full_info.Progs_keywords }}</textarea>
                <label for="keywords_form">Ключевые слова</label>
              </div>
            </div>
          </div>


          </div>
        </div>

        <div class="form-floating mx-1 my-2">
          <textarea class="form-control" id="short_descript_form" style="height: 100px">{{ full_info.custom_fields.5 }}</textarea>
          <label for="short_descript_form">Краткое описание</label>
        </div>
        <div class="form-floating mx-1 my-2">
          <textarea class="form-control" id="full_descript_form" style="height: 150px">{{ full_info.Progs_annotation }}</textarea>
          <label for="full_descript_form">Полное описание</label>
        </div>
      </div>
    </div>
  </div>
<!--  </div>-->

<!--  <div class="accordion shadow-lg ms-2 mb-2 mt-0 p-0" id="accordion_cenz">-->
  <div class="accordion-item">
    <h6 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCenz" aria-expanded="false" aria-controls="collapseCenz">
        Цензура
      </button></h6>
    <div id="collapseCenz" class="accordion-collapse collapse" data-bs-parent="#accordion_sum_info">
      <div class="accordion-body">
        {% include 'main/block_cenz.html' %}
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h6 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAirInfo" aria-expanded="false" aria-controls="collapseCenz">
        История эфиров
      </button></h6>
    <div id="collapseAirInfo" class="accordion-collapse collapse" data-bs-parent="#accordion_sum_info">
      <div class="accordion-body">
        {% include 'main/block_airinfo_table.html' %}
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h6 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHistory" aria-expanded="false" aria-controls="collapseCenz">
        История изменений
      </button></h6>
    <div id="collapseHistory" class="accordion-collapse collapse" data-bs-parent="#accordion_sum_info">
      <div class="accordion-body">
        {% include 'main/block_history.html' %}
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h6 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMediaInfo" aria-expanded="false" aria-controls="collapseCenz">
        MediaInfo
      </button></h6>
    <div id="collapseMediaInfo" class="accordion-collapse collapse" data-bs-parent="#accordion_sum_info">
      <div class="accordion-body">
        {% include 'main/block_mediainfo_table.html' %}
      </div>
    </div>
  </div>

<!--  <div class="accordion-item">-->
<!--    <h6 class="accordion-header">-->
<!--      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseScans" aria-expanded="false" aria-controls="collapseCenz">-->
<!--        Авто сканеры-->
<!--      </button></h6>-->
<!--    <div id="collapseScans" class="accordion-collapse collapse" data-bs-parent="#accordion_sum_info">-->
<!--      <div class="accordion-body">-->
<!--        {% include 'main/block_scanners.html' %}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="accordion-item">-->
<!--    <h6 class="accordion-header">-->
<!--      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAttachedFiles" aria-expanded="false" aria-controls="collapseCenz">-->
<!--        Прикреплённые файлы-->
<!--      </button></h6>-->
<!--    <div id="collapseAttachedFiles" class="accordion-collapse collapse" data-bs-parent="#accordion_sum_info">-->
<!--      <div class="accordion-body">-->
<!--        {% include 'main/block_attached_files.html' %}-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
