{% extends  'main/index.html' %}

<main>
{% block body %}
  <div class="container-xxl text-start px-0">
    <br><h4>Расширенный поиск:</h4>
    <hr width="100%" size="2"><br>
    <form method="get" action="{% url 'advanced_search' %}" class="mb-lg-0 me-lg-3" role="search">
      <div class="input-group mb-3">
          <label class="input-group-text" for="searchSettings">Поиск по</label>
          <select class="form-select" id="searchSettings">
            <option value="0">id</option>
            <option value="1" selected>названию</option>
            <option value="2">имени файла</option>
            <option value="3">исполнителю</option>
            <option value="4">дате эфира</option>
            <option value="5">крайнему сроку</option>
          </select>
          <input class="form-control" name="dop_search" id="tableFilter" type="text" placeholder="введите запрос ..." style="width: 70rem;">
      </div>
    </form>
  </div>
{% endblock %}
</main>