{% extends  'main/index.html' %}

<main>
{% block body %}
  <div class="container-fluid text-start px-lg-5">
    <br><h4>Расширенный поиск:</h4><br>
    {% include 'main/advanced_search_block.html' %}
    <h5>Результатов: {{ search_list|length }}</h5>
    <hr width="100%" size="2"><br>
    {% if search_list %}
      {% for material in search_list %}
        <div class="card shadow mx-lg-3 my-2">
          <div class="card-header p-2">
            <div class="d-flex flex-wrap align-items-start">
              <div class="me-auto text-start">
                <a href="{% url 'home' %}{{ material.Progs_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                  <h6 class="my-0 mx-1">{{ material.Progs_name }}{% if material.Progs_production_year %} ({{ material.Progs_production_year }}){% endif %}</h6>
                </a>
              </div>
              <div class="text-end">
                <h6 class="my-0 mx-1">{{ material.Files_Name|dir_no_host_name }} - {{ material.Files_Size|convert_bytes:'b' }} - {{ material.Files_ModificationTime|date:"d.m.Y" }}</h6>
              </div>
            </div>
          </div>
          <div class="card-body p-2">
            <div class="row">
              <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">Канал: </small>
                  <small class="text-body-primary">{{ material.Sched_schedule_name }}</small>
                </p>
              </div>
              <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">Возрастная категория: </small>
                  <small class="text-body-primary">{{ material.Adult_Name }}</small>
                </p>
              </div>
              <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">Дата отсмотра: </small>
                  <small class="text-body-primary">{{ material.work_date|date:"d E Y" }}</small>
                </p>
              </div>
              <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">
                Исполнитель: <a href="{% url 'home' %}worker/{{ material.Task_engineer_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                {{ material.engineer_id|engineer_name }}</a></small>
                </p>
              </div>
              <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">Продолжительность: </small>
                  <small class="text-body-primary">{{ material.Progs_duration|convert_frames_to_time }}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div><br>
{% endblock %}
</main>