<div class="card mx-1 my-2 boarder">
  <div><small class="text-body-secondary m-2">R128</small></div>
  <img id="r_128" src="/static/waveforms/F_31_IJUNYA_P01_01U9D_H_1080p25_H264_6Mbps_WaveForm.png" class="img-fluid w-100 mx-auto d-block" alt="..." style="height: 190px;">
  <div class="text-body-secondary text-center mb-2">I = 23, LRA = 2, THR = 12</div>
</div>
<div class="form-floating mx-1 my-2">
  <textarea class="form-control" id="black_form" style="height: 100px">Не найдено</textarea>
  <label for="black_form">Чёрные поля</label>
</div>
<div class="form-floating mx-1 my-2">
  <textarea class="form-control" id="silence_form" style="height: 100px">00:21-00:45</textarea>
  <label for="silence_form">Тишина</label>
</div>
<div class="form-floating mx-1 my-2">
  <textarea class="form-control" id="freeze_form" style="height: 100px">Не найдено</textarea>
  <label for="freeze_form">Стоп-кадры</label>
</div>