<div class="card mx-1 my-2 boarder">
  <small class="text-body-secondary mx-3 my-2">R128</small>

  <img id="r_128" src="{% if ffmpeg.waveforms %}/media/waveforms/{{ ffmpeg|get_value:'_id' }}.png{% else %}/media/waveforms/no_wave.png{% endif %}"
       class="mx-auto my-2" style="height: 260px; width: 100%; object-fit: cover;">
  <h5 class="text-body-secondary text-center mb-2">
    {% if ffmpeg.ffmpeg_scanners.r128 %}
      {% with r128=ffmpeg.ffmpeg_scanners.r128 %}
        I = {{ r128.input_i }} | TP = {{ r128.input_tp }} | LRA = {{ r128.input_lra }} | THR = {{ r128.input_thresh }}
      {% endwith %}
    {% else %}
      нет данных
    {% endif %}
  </h5>
</div>
<!--<div class="form-floating mx-1 my-2">-->
<!--  <textarea class="form-control" id="black_form" style="height: 100px">Не найдено</textarea>-->
<!--  <label for="black_form">Чёрные поля</label>-->
<!--</div>-->
<!--<div class="form-floating mx-1 my-2">-->
<!--  <textarea class="form-control" id="silence_form" style="height: 100px">00:21-00:45</textarea>-->
<!--  <label for="silence_form">Тишина</label>-->
<!--</div>-->
<!--<div class="form-floating mx-1 my-2">-->
<!--  <textarea class="form-control" id="freeze_form" style="height: 100px">Не найдено</textarea>-->
<!--  <label for="freeze_form">Стоп-кадры</label>-->
<!--</div>-->