  {% csrf_token %}
  <div class="row">
  {% for field in form_drop %}
  <div class="col">
    <div class="form-floating mx-1 my-2">
      {{ field }}
      {{ field.label_tag }}
      <div class="invalid-feedback">Необходимо заполнить</div>
    </div>
  </div>
  {% endfor %}
  </div>

  <div class="row row-cols-2">
    {% for field in form_text %}
    <div class="col">
      <div class="form-floating mx-1 my-2">
        {{ field }}
        {{ field.label_tag }}

      </div>
    </div>
    {% endfor %}
  </div>

{% block buttons %}

{% endblock %}

