{% if comments_history %}

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th style="width: 10%;">Время комментария</th>
        <th style="width: 13%;">Статус</th>
        <th style="width: 57%;">Комментарий</th>
        <th style="width: 10%;">Крайний срок</th>
        <th style="width: 10%;">Сотрудник</th>

      </tr>
    </thead>
    <tbody id="comment_textarea">
      <tr>
        {% for comment in comments_history %}
          <td>{{ comment.time_of_change|date:"d.m.Y H:i:s" }}</td>
          <td>{{ comment.task_status|status_name }}</td>
          <td><textarea class="form-control pb-2 m-0 border-0" rows="" style="height: auto; min-height: 20px;" disabled>{{ comment.comment }}</textarea></td>
          <td>{{ comment.deadline|date:"d.m.Y" }}</td>
          <td>{{ comment.worker_id|worker_name }}</td>

      </tr>
        {% endfor %}

    </tbody>
  </table>
<script>
window.addEventListener('load', autoResize);
let comments = document.getElementById('comment_textarea')
let my_textarea = comments.getElementsByTagName('textarea');
function autoResize() {
    for (let i = 0;i < my_textarea.length; i++) {
    my_textarea[i].rows = my_textarea[i].value.split(/\r|\r\n|\n/).length;
    };
}
</script>

{% else %}
Нет данных
{% endif %}