
<form method="POST">
  {% csrf_token %}
  <div class="row">
  {% for field in form_drop %}
  <div class="col">
    <div class="form-floating mx-1 my-2">
      {{ field }}
      {{ field.label_tag }}
    </div>
  </div>
  {% endfor %}
  </div>

  <div class="row row-cols-2">
    {% for field in form_text %}
    <div class="col">
      <div class="form-floating mx-1 my-2">
        {{ field }}
        {{ field.label_tag }}
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="modal fade" id="CenzApprove" tabindex="-1" aria-labelledby="CenzApproveLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="CenzApproveLabel">
              {% if full_info.TaskInf_task_status == 'not_ready' %}
                Вы подтверждаете выполнение задачи?
              {% else %}
                Вы подтверждаете изменения?
              {% endif %}
            </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6>Укажите путь к готовому файлу</h6>
          <div class="input-group">
<!--            <input class="form-control custom-file-input" type="file" id="upload_ready_file_form" name="upload_ready_file" accept="">-->
            <input class="form-control custom-file-input"
                   type="text" id="upload_ready_file_form"
                   placeholder="Ctrl+Shift+C -> Ctrl+V"
                   style="font-style: italic"
                   name="upload_ready_file" accept="">
<!--                <button class="btn btn-outline-secondary" type="button" id="upload_form_btn">Загрузить</button>-->
          </div><br>
          <h6>Комментарий к материалу</h6>
            <textarea class="form-control" id="cenz_comment" name="cenz_comment" style="min-height: 130px">CENZ не требуется</textarea><br>
        </div>
        <div class="modal-footer">
          <button type="submit" name="status_ready" id="status_ready" value="True" class="btn btn-outline-warning ms-2 me-auto">Завершить задачу</button>
          <button type="submit" name="cenz_info_change" id="cenz_info_change" value="True" class="btn btn-outline-success">Применить изменения</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Отмена</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="AskFix" tabindex="-1" aria-labelledby="AskFixLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="AskFixLabel">
              Запросить FIX?
            </h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6>Комментарий по исправлению</h6>
            <textarea class="form-control" style="min-height: 130px" name="fix_comment" id="fix_comment"
                      placeholder="1. Таймкод - суть проблемы&#10;2. Таймкод - суть проблемы&#10;3. ..."></textarea><br>
          <h6>Установить крайний срок</h6>
            <input class="form-control" type="date" id="deadline" name="deadline" value="{{ deadline|date:'Y-m-d' }}">
        </div>
        <div class="modal-footer">
          <button type="submit" name="ask_fix" id="ask_fix" value="True" class="btn btn-outline-warning">Запросить</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Отмена</button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-end">
    <button type="button" class="btn btn-outline-success {% if lock_material %}disabled{% endif %}"
            data-bs-toggle="modal" data-bs-target="#CenzApprove">Сохранить
    </button>
    <button type="button" class="btn btn-outline-warning {% if lock_material %}disabled{% endif %}"
            data-bs-toggle="modal" data-bs-target="#AskFix">Запросить FIX
    </button>
    <button type="reset" class="btn btn-sm btn-outline-danger align-bottom {% if lock_material %}disabled{% endif %}">
      Сбросить
    </button>
  </div>
</form>

<!--<script>-->
<!--window.onbeforeunload = function(e) {-->
<!--  console.log(e);-->
<!--  e.returnValue = 'Есть несохранённые изменения! Уверены, что хотите покинуть страницу?';-->
<!--  console.log(e);-->
<!--  window.location.href = "{% url 'home' %}unblock_card";-->
<!--};-->
<!--</script>-->