{% load static %}
<link href="static/css/dropdowns.css" rel="stylesheet">

<!-- style="width:450px;"-->
<div class="card text-center text-secondary">
  <table cellpadding="5" class="month">
    <tr><th class="mon">Пн</th><th class="tue">Вт</th><th class="wed">Ср</th><th class="thu">Чт</th><th class="fri">Пт</th><th class="sat">Сб</th><th class="sun">Вс</th></tr>
    {% for week in my_calendar %}
      <tr>
        {% for day in week %}
          {% if day|date:"n" == '3' %}
            <td><button class="btn btn-success cal-btn" type="button" style="width:50px;">{{ day|date:"j" }}</button></td>
          {% else %}
            <td><button class="btn cal-btn" type="button" style="width:50px;" disabled>{{ day|date:"j" }}</button></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
</div>