<div class="card border shadow mx-1 my-2 mt-0 p-0">
    <div class="card-header p-2">
    <input class="form-check-input me-1" type="checkbox" value="" id="movie_id">
    <label class="form-check-label" for="movie_id">
            <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                <h6 class="my-0 mx-1">Мстители, 2019</h6>
            </a>
    </label>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">
                    Канал: <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    Крепкое</a></small>
                </p>
            </div>

            <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">
                    Дата эфира: <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    15.02.2025</a></small>
                </p>
            </div>

            <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">
                    Выполняет: <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    Александр Кисляков</a></small>
                </p>
            </div>
        </div>
    </div>
</div>
