<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="card shadow-sm m-2">
<!--          <img src="..." class="card-img-top" alt="...">-->
            <div class="card-header">
                Мстители
            </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">2019</h6>
<!--            <p class="card-text">Выполняет: Александр Кисляков</p>-->
            <p class="card-text">Дата эфира: 15.02.2025</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Крепкое</li>
            <li class="list-group-item">Хронометраж: 01:01:45</li>
          </ul>
          </div>
        </div>
</html>