<div class="card border-info shadow-sm mx-1 my-2">
<!--          <img src="..." class="card-img-top" alt="...">-->
  <div class="card-body p-1">
    <h5 class="card-title">Мстители</h5>
    <h6 class="card-subtitle text-body-secondary">2019</h6>
<!--            <p class="card-text">Выполняет: Александр Кисляков</p>-->
    <p class="card-text">
      <small class="text-body-secondary">
        Дата эфира: 15.02.2025</small>
    </p>
  </div>
  <ul class="list-group list-group-flush">
        <li class="list-group-item">Крепкое</li>
        <li class="list-group-item">Хронометраж: 01:01:45</li>
    </ul>
</div>
