<div class="card border-info shadow-sm mx-1 my-2">
<!--          <img src="..." class="card-img-top" alt="...">-->
    <div class="card-header p-2">
        <h6>
            <a href="#" class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                Мстители, 2019
            </a>
        </h6>

    </div>
  <div class="card-body p-2">
    <h6 class="card-title">Канал: Крепкое</h6>

<!--    <h6 class="card-subtitle text-body-secondary">Крепкое</h6>-->
<!--            <p class="card-text">Выполняет: Александр Кисляков</p>-->
    <p class="card-text m-0">
      <small class="text-body-secondary">
        Дата эфира: 15.02.2025
      </small>
    </p>
        <p class="card-text m-0">
      <small class="text-body-secondary">
        Хронометраж: 01:01:45
          </small>
      </p>
      <p class="card-text m-0">
      <small class="text-body-secondary">
      Выполняет: Александр Кисляков
          </small>
      </p>
  </div>
<!--  <div class="card-footer">Хронометраж: 01:01:45-->
<!--        <li class="list-group-item">Открыть в папке</li>-->
<!--        <a href="#" class="card-link">Подробнее</a>-->
<!--    </div>-->
</div>
