<!--<div class="card mb-3" style="max-width: 540px;">-->
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-2">
      <img src="/static/img/e91e3ad7b726ea6325e6687339642e03.jpg" class="img-fluid rounded-start" alt="..." style="max-height: 260px;">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">Настоящий детектив. 18+</h5>
        <p class="card-subtitle"><small class="text-body-secondary">2019 Детектив, триллер</small></p>
<!--        <h6 class="card-subtitle text-body-primary"></h6>-->
<!--        <p class="card-text m-0"><small class="text-body-secondary">детектив, триллер</small></p>-->
<!--        <p class="card-text"><small class="text-body-secondary">США, Канада</small></p>-->
        <p class="card-text">В Луизиане в 1995 году происходит странное убийство девушки. В 2012 году дело об убийстве 1995 года повторно открывают, так как произошло похожее убийство. Чтобы продвинуться в расследовании, полиция решает допросить бывших детективов, которые работали над тем делом.</p>
        <p class="card-text m-0"><small class="text-body-secondary">Выполняет: Александр Кисляков</small></p>
        <p class="card-text m-0"><small class="text-body-secondary">В эфире на: Кино+ 12.15.2025</small></p>
        <p class="card-text"><small class="text-body-secondary">Хронометраж: 01:01:45</small></p>
      </div>
    </div>
  </div>
</div>