<div class="d-flex justify-content-between p-4">Фильтры
    <ul class="list-group">
        <li class="list-group-item list-group-item-action">Дата</li>
        <li class="list-group-item list-group-item-action">Исполнитель</li>
        <li class="list-group-item list-group-item-action">Канал</li>
        <li class="list-group-item list-group-item-action">Тип материала</li>
        <li class="list-group-item list-group-item-action">Тип материала</li>
        <li class="list-group-item list-group-item-action">Статус</li>
    </ul>
</div>