{% extends  'main/index.html' %}

<main role="main">
{% block body %}
<div class="container-flex p-4">
  <div class="row">
    <div class="col col-2">
      <div class="flex-shrink-0 bg-primary-subtle p-3">
        <p>Общая статистика</p>
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Сотрудники
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Александр Кисляков</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ольга Кузовкина</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Дмитрий Гатенян</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Мария Сучкова</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Андрей Антипин</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Роман Рогачев</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Анастасия Чебакова</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Никита Кузаков</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Олег Кашежев</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Марфа Тарусина</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Евгений Доманов</a></li>
              </ul>
            </div>
          </li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              Все задачи
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">На отсмотре</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">В ОТК</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">В доработке</a></li>
              </ul>
            </div>
          </li>

          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              Общий пул
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>
                <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">...</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col col-10">

      <div class="row m-2">
        <div class="col">
          <div class="card text-center border-light p-0" style="width: 16rem;">
            <div class="card-header border-info">
              <h5>KPI отдела</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{ summary_dict.total_kpi|floatformat:2 }}</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center border-light p-0" style="width: 16rem;">
            <div class="card-header border-info">
              <h5>Всего задач в работе</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{ summary_dict.total_count }}</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center border-light p-0" style="width: 16rem;">
            <div class="card-header border-success">
              <h5>Завершено</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{ summary_dict.ready_tasks }}</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center border-light p-0" style="width: 16rem;">
            <div class="card-header border-danger">
              <h5>Осталось</h5>
            </div>
            <div class="card-body">
              <h3 class="card-title">{{ summary_dict.not_ready_tasks }}</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center border-light p-0" style="width: 16rem;">
            <div class="card-header border-primary">
              <h5>Общий хронометраж</h5>
            </div>
            <div class="card-body border-light">
              <h3 class="card-title">{{ summary_dict.total_dur|convert_frames_to_time }}</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center border-light p-0" style="width: 16rem;">
            <div class="card-header border-light">
              <h5>Сегодня</h5>
            </div>
            <div class="card-body border-light">
              <h3 class="card-title">{{ today|date:'d.m.Y' }}</h3>
            </div>
          </div>
        </div>
      </div>

      <form method="post" class="container p-0 d-flex align-items-center justify-content-start">
        {% csrf_token %}
        <div class="row">
          {% for field in form %}
            <div class="col">
              <div class="form-floating mx-1 my-2">
                {{ field }}
                {{ field.label_tag }}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col">
          <button type="submit" class="btn register-button btn-outline-secondary">Применить</button>
        </div>
      </form>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Program_id</th>
            <th scope="col">Название</th>
            <th scope="col">Сотрудник</th>
            <th scope="col">Длительность</th>
            <th scope="col">Дата отсмотра</th>
            <th scope="col">Статус</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {% for task in task_list|dictsort:"Progs_name" %}
            <tr>
              <th scope="row">
                <a href="{% url 'home' %}{{ task.Task_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                  {{ task.Task_program_id }}</a></th>
              <td>
              <a href="{% url 'home' %}{{ task.Task_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
              {{ task.Progs_name }}. ({{ task.Progs_production_year }})</a></td>
              <td>
                <a href="{% url 'home' %}workers/{{ task.Task_worker_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                  {{ task.Task_worker }}</a></td>
              <td>{{ task.Task_duration|convert_frames_to_time }}</td>
              <td>{{ task.Task_work_date|date:'d-m-Y' }}</td>
              <td>{{ task.Task_task_status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
</main>
