{% extends  'main/index.html' %}

{% block body %}

<div class="container-fluid text-start px-lg-5">
  <main>
    <div class="row p-0">
    <div class="overflow-auto col-6 p-0" style="max-height: 1016px;">
      {% include 'main/card_list_2.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list_2.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list_2.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
      {% include 'main/card_list.html' %}
    </div>
<!--      <div class="col col-6 p-0">-->
<!--      <div class="b-example-divider b-example-vr"></div>-->
<!--        </div>-->
      <div class="col col-6 p-0">
        {% include 'main/sum_info.html' %}
      </div>
    </div>
  </main>
</div>
{% endblock %}

