
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'Semantic-UI-master/dist/semantic.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/ui_dropdown.css' %}">
<link rel="stylesheet" href="{% static '/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">

<script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'Semantic-UI-master/dist/semantic.min.js' %}"></script>

<style>
.ui.dropdown {
  text-align: left;
  font-size: 0.9em;
  }

</style>


<form method="post" class="container p-0 d-flex align-items-center justify-content-start">
      <div class="form-floating ms-0 mx-1">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
              <div class="col">{{ field }}</div>
            {% endfor %}
            <div class="col">
                <button type="submit" class="btn register-button btn-outline-info">Применить</button>
            </div>
        </div>
      </div>
</form>

<script>

$('#channels')
  .dropdown()
;
$('#engineers')
  .dropdown()
;

$('#material_type')
  .dropdown()
;

$('#task_status')
  .dropdown()
;


<!--$('form')-->
<!--  .form('set values', {-->
<!--    channels     : ['2', '10'],-->
<!--    workers   : '0',-->
<!--    material_type   : 'Сериал',-->
<!--    task_status : 'Не готов',-->
<!--  })-->
<!--;-->
</script>

