{% extends  'main/index.html' %}
<main>
{% block body %}
  <div class="container-fluid text-start px-lg-5">
    <div class="row p-0">
      <div class="overflow-auto col-6 p-0" style="max-height: 1016px;">
        <nav class="px-1 pb-2 bg-body sticky-top">
          <form method="post" class="container p-0 d-flex align-items-center justify-content-start">
          {% csrf_token %}
            <div class="form-floating ms-0 mx-1">
              <select class="form-select" name="channel_filter" id="ChannelFilter" aria-label="ChannelFilter">
                <option value="Все" selected>Все</option>
                <option value="Романтический">Романтический</option>
                <option value="Крепкое">Крепкое</option>
                <option value="Кино">Кино +</option>
              </select>
              <label for="ChannelFilter">Канал</label>
            </div>

            <div class="form-floating mx-1">
              <select class="form-select" name="worker_filter" id="WorkerFilter" aria-label="WorkerFilter">
                <option value="Все" selected>Все</option>
                <option value="Александр Кисляков">Александр Кисляков</option>
                <option value="Ольга Кузовкина">Ольга Кузовкина</option>
                <option value="Айнур Мингазов">Айнур Мингазов</option>
              </select>
              <label for="WorkerFilter">Выполняет</label>
            </div>

            <div class="form-floating mx-1" style="width: 150px">
              <select class="form-select" name="material_filter" id="MaterialFilter" aria-label="MaterialFilter">
                <option value="1" selected>Все</option>
                <option value="2">Фильмы</option>
                <option value="3">Сериалы</option>
              </select>
              <label for="MaterialFilter">Тип материала</label>
            </div>

            <div class="form-floating mx-1" style="width: 150px">
              <select class="form-select" name="data_filter" id="DataFilter" aria-label="DataFilter">
                <option value="1" selected>Все</option>
                <option value="2">Сегодня</option>
                <option value="3">Теущая неделя</option>
                <option value="3">Месяц</option>
              </select>
              <label for="DataFilter">Дата</label>
            </div>

            <div class="form-floating mx-1 me-lg-auto">
              <select class="form-select" name="status_filter" id="StatusFilter" aria-label="StatusFilter">
                <option value="1" selected>Все</option>
                <option value="2">Отсмотрено</option>
                <option value="3">В работе</option>
                <option value="3">Исправить</option>
              </select>
              <label for="StatusFilter">Статус</label>
            </div>
            <button type="submit" class="btn register-button btn-outline-secondary">Применить</button>
          </form>
        </nav>

        {% for material in material_list %}
          {% if material.Types_type_name == 'Фильм' %}
            <div class="card border shadow mx-1 my-2 mt-0 p-0">
              <div class="card-header p-2">
                <input class="form-check-input me-1" type="checkbox" value="" id="movie_id">
                  <label class="form-check-label" for="movie_id">
                    <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                      <h6 class="my-0 mx-1">{{ material.Progs_name }}, {{ material.Progs_production_year }}</h6>
                    </a>
                  </label>
              </div>
              <div class="card-body p-2">
                <div class="row">
                  <div class="col">
                    <p class="card-text m-0"><small class="text-body-secondary">
                      Канал: <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                      {{ material.Sched_schedule_name }}</a></small>
                    </p>
                  </div>
                  <div class="col">
                    <p class="card-text m-0"><small class="text-body-secondary">
                    Дата эфира: <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    {{ material.SchedDay_day_date }}</a></small>
                    </p>
                  </div>
                  <div class="col">
                    <p class="card-text m-0"><small class="text-body-secondary">
                    Выполняет: <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    {{ material.worker }}</a></small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          {% elif material.type == 'series' %}
            <div class="card border shadow mx-1 my-2 mt-0 p-0">
              <div class="card-body p-2">
                <input class="form-check-input me-1" type="checkbox" value="" id="season_id">
                  <label class="form-check-label" for="season_id">
                    <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                      <h6 class="my-0 mx-1">{{ material.name|truncatechars:5 }}, {{ material.year }}</h6>
                    </a>
                  </label>
              </div>
            </div>
            {% for episode in material.episode %}
              <div class="row align-items-center">
                <div class="col ps-4" style="max-width:50px">
                  <svg viewBox="0 0 24 54" class="DocSearch-Hit-Tree"><g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M8 6v21M20 27H8.3"></path></g></svg>
                </div>
                <div class="col">
                  <div class="card border shadow mx-1 my-2 mt-0 p-0">
                    <div class="card-header p-2">
                      <input class="form-check-input me-1" type="checkbox" value="" id="episode_id">
                        <label class="form-check-label" for="episode_id">
                          <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                          <h6 class="my-0 mx-1">{{ episode.name }}</h6>
                          </a>
                        </label>
                    </div>
                    <div class="card-body p-2">
                      <div class="row">
                        <div class="col">
                          <p class="card-text m-0"><small class="text-body-secondary">
                          Канал: <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                          {{ episode.channel }}</a></small>
                          </p>
                        </div>

                        <div class="col">
                          <p class="card-text m-0"><small class="text-body-secondary">
                          Дата эфира: <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                         {{ episode.air_date }}</a></small>
                          </p>
                        </div>
                        <div class="col">
                          <p class="card-text m-0"><small class="text-body-secondary">
                          Выполняет: <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                          {{ episode.worker }}</a></small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="col col-6 p-0">
        {% include 'main/sum_info.html' %}
      </div>
    </div>
  </div>
{% endblock %}
</main>