{% extends  'main/index.html' %}

<main>
{% block body %}
  {% if permissions.list %}
  <div class="container-xxl text-start px-0">
    <div class="row p-0">
      <div class="container-xxl text-start px-0">
        <nav class="px-1 pb-2 text-center">
          <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
              <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
            </svg>
          </button>

          <div class="offcanvas offcanvas-top" style='height: 400px;' tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasTopLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              {% include 'main/main_modelfilter.html' %}
            </div>
          </div>
        </nav>
        {{ init.0.channels }}
        {% for material in material_list %}
          {% if material.type == 'film' %}
            <div class="card shadow mx-1 my-2 mt-0 p-0" style="border-color: {{ material.color }};">
              <div class="card-header p-2">
                <input class="form-check-input me-1" type="checkbox" value="" id="film_id">
<!--                {% if material.Task_task_status == 'ready' %}checked{% endif %}-->
                  <label class="form-check-label" for="film_id">
                    <a href="{% url 'home' %}{{ material.Progs_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                      <h6 class="my-0 mx-1">{{ material.Progs_name }}{% if material.Progs_production_year %} ({{ material.Progs_production_year }}){% endif %}</h6>
                    </a>
                  </label>
              </div>
              <div class="card-body p-2">
                <div class="row">
                  <div class="col">
                    <p class="card-text m-0"><small class="text-body-secondary">
                      Канал: <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                      {{ material.Sched_schedule_name }}</a></small>
                    </p>
                  </div>
                  <div class="col">
                    <p class="card-text m-0"><small class="text-body-secondary">Возрастная категория:</small>
                      <small class="text-body-primary"> {{ material.Adult_Name }}</small>
                    </p>
                  </div>
                  <div class="col">
                    <p class="card-text m-0"><small class="text-body-secondary">Крайний срок:</small>
                      <small class="text-body-primary"> {{ material.Task_deadline|date:"d E Y" }}</small>
                    </p>
                  </div>
                  <div class="col">
                    <p class="card-text m-0"><small class="text-body-secondary">
                    Выполняет: <a href="{% url 'home' %}worker/{{ material.Task_engineer_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    {{ material.Task_engineer_id|engineer_name }}</a></small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          {% elif material.type == 'season' %}
            <div class="card shadow mx-1 my-2 mt-0 p-0" style="border-color: {{ material.color }};">
              <div class="card-body p-2">
                <input class="form-check-input me-1" type="checkbox" value="" id="season_id">
                  <label class="form-check-label" for="season_id">
                    <a href="{% url 'home' %}{{ material.Progs_parent_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                      <h6 class="my-0 mx-1">{{ material.Progs_AnonsCaption|truncatechars:40 }}{% if material.Progs_production_year %} ({{ material.Progs_production_year }}){% endif %}</h6>
                    </a>
                  </label>
              </div>
            </div>
            {% for episode in material.episode|dictsort:"Progs_episode_num" %}
              <div class="row align-items-center">
                <div class="col ps-4" style="max-width:50px">
                  <svg viewBox="0 0 24 54" class="DocSearch-Hit-Tree"><g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M8 6v21M20 27H8.3"></path></g></svg>
                </div>
                <div class="col">
                  <div class="card shadow mx-1 my-2 mt-0 p-0" style="border-color: {{ material.color }};">
                    <div class="card-header p-2">
                      <input class="form-check-input me-1" type="checkbox" value="" id="episode_id">
                        <label class="form-check-label" for="episode_id">
                          <a href="{% url 'home' %}{{ episode.Progs_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                          <h6 class="my-0 mx-1">{{ episode.Progs_name }}</h6>
                          </a>
                        </label>
                    </div>
                    <div class="card-body p-2">
                      <div class="row">
                        <div class="col">
                          <p class="card-text m-0"><small class="text-body-secondary">
                          Канал: <a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                          {{ material.Sched_schedule_name }}</a></small>
                          </p>
                        </div>
                        <div class="col">
                          <p class="card-text m-0"><small class="text-body-secondary">Возрастная категория:</small>
                            <small class="text-body-primary"> {{ episode.Adult_Name }}</small>
                          </p>
                        </div>
                        <div class="col">
                          <p class="card-text m-0"><small class="text-body-secondary">Крайний срок:</small>
                            <small class="text-body-primary"> {{ episode.Task_deadline|date:"d E Y" }}</small>
                          </p>
                        </div>

                        <div class="col">
                          <p class="card-text m-0"><small class="text-body-secondary">
                          Выполняет: <a href="{% url 'home' %}worker/{{ episode.Task_engineer_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                          {{ episode.Task_engineer_id|engineer_name }}</a></small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% else %}
  <h4 class="text-center">forbidden</h4>
  {% endif %}
{% endblock %}
</main>