{% extends  'main/index.html' %}
{% load static %}

{% block body %}
<link href="/static/css/dropdowns.css" rel="stylesheet">

<!--<h1>Month</h1>-->
  <div class="container-flex px-lg-5">
    <div class="d-flex">
      <div class="card me-2 p-3" style="width: 33rem; height: 31rem;">
        <div class="row align-items-center">
          <div class="col d-flex justify-content-start">
            <a href="{% url 'home' %}month/{{ service_dict.prev_year }}/{{ service_dict.prev_month }}" class="btn cal-btn" type="button" style="width: 2rem;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
              </svg>
            </a>
          </div>
          <div class="col text-center">
            <h4>{{ service_dict.cal_month|month_name }}</h4>
          </div>
          <div class="col d-flex justify-content-end">
            <a href="{% url 'home' %}month/{{ service_dict.next_year }}/{{ service_dict.next_month }}" class="btn cal-btn" type="button" style="width: 2rem;">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
              </svg>
            </a>
          </div>
        </div>
        <table cellpadding="5" class="month">
          <thead class="text-center text-secondary">
            <tr>
              <th class="p-2"></th>
              <th class="mon p-2">Пн</th>
              <th class="tue p-2">Вт</th>
              <th class="wed p-2">Ср</th>
              <th class="thu p-2">Чт</th>
              <th class="fri p-2">Пт</th>
              <th class="sat p-2">Сб</th>
              <th class="sun p-2">Вс</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for week in month_calendar %}
              <tr>
                <th class="text-secondary">{{ week.0.day|date:"W" }}</th>
                {% for date in week %}
                  {% if date.day|date:"n" == service_dict.cal_month|stringformat:"s" %}
                    <td style="width: 1.5rem;">
                      <button class="btn cal-btn p-4 {{ date.color }}" type="button" style="width: 1.5rem;" title="Осталось: 3" onclick="FilterTable('{{ date.day|date:'Y-m-d' }}')">
                        {{ date.day|date:"j" }}
                      </button></td>
                  {% else %}
                    <td style="width: 1.5rem;"><button class="btn cal-btn p-4" type="button" style="width: 1.5rem;" disabled>{{ date.day|date:"j" }}</button></td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="card p-2" style="width: 100rem;">
        {% include 'main/task_table.html' %}
      </div>
    </div>
  </div>

<script>
  function FilterTable(date) {
      // Get the table body and rows
      let tableBody = document.getElementById('tableBody');
      let rows = tableBody.getElementsByTagName('tr');

      // Loop through all table rows
      for (let i = 0; i < rows.length; i++) {
          // Get the first cell in the row (the 'Name' column)
          let nameCell = rows[i].getElementsByTagName('td')[0];
          // Check if the cell exists and compares the value
          if (nameCell) {
              let textValue = nameCell.textContent || nameCell.innerText;
              // Toggle the visibility based on the filter
              rows[i].style.display = textValue.toLowerCase().indexOf(date) > -1 ? '' : 'none';
          }
      }
  };
</script>
{% endblock %}