<ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-wrap">

  {% for tab, item in header_panels.items %}

    {% if permissions.auth_group != 'admin' %}
      <!-- Обычный пункт меню -->
      <li class="nav-item">
        <a href="{% url 'home' %}{{ item }}/" class="nav-link px-3 {% if request.path|slice:'1:'|cut:'/' == item %}active{% endif %}">
          {{ item }}
        </a>
      </li>
    {% else %}
      <!-- Вложенный список (группа по отделам) -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle px-3" href="#" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          {{ tab }}
        </a>
        <ul class="dropdown-menu {% if is_mobile %}dropdown-menu-start position-static{% endif %}">
          {% for sub_item in item %}
            <li>
              <a href="{% url 'home' %}{{ sub_item }}/" class="dropdown-item">
                {{ sub_item }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>