<ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-wrap">

    {% if header_panels|length == 1 %}
      <!-- Обычный пункт меню -->
        {% for tab in header_panels.0.tabs %}
          <li class="nav-item">
            <a href="{% url 'home' %}{{ tab.url }}/" class="nav-link px-3 {% if request.path|slice:'1:'|cut:'/' == tab.url %}active{% endif %}">
              {{ tab.label }}
            </a>
          </li>
        {% endfor %}
    {% else %}
      <!-- Вложенный список (группа по отделам) -->
        {% for department in header_panels %}
          <li class="nav-item dropdown" style="z-index: 1050;">
            <a class="nav-link dropdown-toggle px-3" role="button"
               data-bs-toggle="dropdown"
               data-bs-auto-close="outside"
               data-bs-display="static"
               data-bs-popper="false"
               aria-expanded="false">
              {{ department.label }}
            </a>
            <ul class="dropdown-menu {% if is_mobile %}dropdown-menu-start position-static{% endif %}">
              {% for tab in department.tabs %}
                <li class="nav-item">
                  <a href="{% url 'home' %}{{ tab.url }}/" class="dropdown-item">
                    {{ tab.label }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
    {% endif %}
</ul>
