<div class="card border-success shadow-sm mx-1 my-2 p-2">
  Описание
<table class="table">
  <thead>
    <tr>
      <th scope="col">Год</th>
      <th scope="col">2019</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Страна</th>
      <td>Россия</td>

    </tr>
    <tr>
      <th scope="row">Режиссёр</th>
      <td>Тарантино</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Текст</td>
    </tr>
  </tbody>
</table>
  Цензура
<div class="input-group input-group-sm p-2">
  <span class="input-group-text">ЛГБТ</span>
  <textarea class="form-control" aria-label="ЛГБТ">Не найдено</textarea>
</div>
<div class="input-group input-group-sm p-2">
<span class="input-group-text">Сигареты</span>
<textarea class="form-control" placeholder="" aria-label="Сигареты">00:21 - Вырезано</textarea>
</div>
<div class="input-group input-group-sm p-2">
  <span class="input-group-text">Обнаженка</span>
  <textarea class="form-control" aria-label="Обнаженка">Не найдено</textarea>
</div>
<div class="input-group input-group-sm p-2">
  <span class="input-group-text">Наркотики</span>
  <textarea class="form-control" aria-label="Наркотики">Нет</textarea>
</div>
<div class="input-group input-group-sm p-2">
  <span class="input-group-text">Мат</span>
  <textarea class="form-control" aria-label="Мат">02:38 - ?@#$</textarea>
</div>
<div class="input-group input-group-sm p-2">
  <span class="input-group-text">Другое</span>
  <textarea class="form-control" aria-label="Другое">Нет</textarea>
</div>
<div class="input-group input-group-sm p-2">
  <span class="input-group-text">Редакторские замечания</span>
  <textarea class="form-control" aria-label="Редакторские замечания">Нет</textarea>
</div>
  </div>