<!--<div class="card shadow-lg mx-1 my-2 mt-0 p-2">-->
<!--  <span class="placeholder col-5"></span>-->
<!-- style="border-color: rgba(75,115,255,.1); background-color: #eee;"-->
  <div class="accordion shadow ms-2 mb-2 mt-0 p-0" id="accordion_sum_info">
    <div class="accordion-item">
        <h6 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription">
            Описание
          </button></h6>
      <div id="collapseDescription" class="accordion-collapse collapse show" data-bs-parent="#accordion_sum_info">
        <div class="accordion-body">
          <div class="row m-0">
            <div class="col col-2 p-0">
              <img src="/static/img/Avengers.webp" class="img-fluid rounded mx-1 my-2" alt="..." style="height: 190px;">
            </div>
            <div class="col col-4 p-0">
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="year_form" style="height: 50px" disabled>2019</textarea>
                <label for="year_form">Год</label>
              </div>
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="country_form" style="height: 50px" disabled>США</textarea>
                <label for="country_form">Страна</label>
              </div>
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="director_form" style="height: 50px" disabled>Джосс Уэдон</textarea>
                <label for="director_form">Режиссёр</label>
              </div>
            </div>
            <div class="col col-6 p-0">
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="roles_form" style="height: 50px" disabled>Крис Эванс, Марк Руффало, Крис Хэмсворт</textarea>
                <label for="roles_form">В ролях</label>
              </div>
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="theme_form" style="height: 50px" disabled>Можно в линейку фильмов</textarea>
                <label for="theme_form">Тематика</label>
              </div>
              <div class="form-floating mx-1 my-2">
                <textarea class="form-control" id="keywords_form" style="height: 50px" disabled>Фильм, Кино+</textarea>
                <label for="keywords_form">Ключевые слова</label>
              </div>
            </div>
          </div>

          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="short_descript_form" style="height: 150px">Локи, сводный брат Тора, возвращается, и в этот раз он не один.
            </textarea>
            <label for="short_descript_form">Краткое описание</label>
          </div>
          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="full_descript_form" style="height: 250px">Локи, сводный брат Тора, возвращается, и в этот раз он не один. Земля оказывается на грани порабощения, и только лучшие из лучших могут спасти человечество. Глава международной организации Щ.И.Т. Ник Фьюри собирает выдающихся поборников справедливости и добра, чтобы отразить атаку. Под предводительством Капитана Америки Железный Человек, Тор, Невероятный Халк, Соколиный Глаз и Чёрная Вдова вступают в войну с захватчиком.
            </textarea>
            <label for="full_descript_form">Полное описание</label>
          </div>
        </div>
      </div>
    </div>
<!--  </div>-->

<!--  <div class="accordion shadow-lg ms-2 mb-2 mt-0 p-0" id="accordion_cenz">-->
    <div class="accordion-item">
      <h6 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCenz" aria-expanded="false" aria-controls="collapseCenz">
          Цензура
        </button></h6>
      <div id="collapseCenz" class="accordion-collapse collapse" data-bs-parent="#accordion_sum_info">
        <div class="accordion-body">
          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="lgbt_form" style="height: 100px">Не найдено</textarea>
            <label for="lgbt_form">ЛГБТ</label>
          </div>
          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="sig_form" style="height: 100px">00:21 - Вырезано</textarea>
            <label for="sig_form">Сигареты</label>
          </div>
          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="obnazh_form" style="height: 100px">Не найдено</textarea>
            <label for="obnazh_form">Обнаженка</label>
          </div>
          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="narc_form" style="height: 100px">Нет</textarea>
            <label for="narc_form">Наркотики</label>
          </div>
          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="mat_form" style="height: 100px">02:38 - ?@#$</textarea>
            <label for="mat_form">Мат</label>
          </div>
          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="other_form" style="height: 100px">Нет</textarea>
            <label for="other_form">Другое</label>
          </div>
          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="editor_form" style="height: 100px"> - </textarea>
            <label for="editor_form">Редакторские замечания</label>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h6 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHistory" aria-expanded="false" aria-controls="collapseCenz">
          История изменений
        </button></h6>
      <div id="collapseHistory" class="accordion-collapse collapse" data-bs-parent="#accordion_sum_info">
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">12.01.2023 - Ольга Кузовкина
              <small class="text-body-secondary m-2">(Описание)</small>
            </li>
            <li class="list-group-item">13.01.2023 - Ольга Кузовкина
              <small class="text-body-secondary m-2">(Описание, Цензура)</small>
            </li>
            <li class="list-group-item">25.01.2024 - Александр Кисляков
              <small class="text-body-secondary m-2">(Цензура)</small>
            </li>
            <li class="list-group-item">26.01.2024 - Айнур Мингазов
              <small class="text-body-secondary m-2">(ОТК)</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h6 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMediaInfo" aria-expanded="false" aria-controls="collapseCenz">
          MediaInfo
        </button></h6>
      <div id="collapseMediaInfo" class="accordion-collapse collapse" data-bs-parent="#accordion_sum_info">
        <div class="accordion-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="col-2">General</th>
                <th class="col-6"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Complete name</th>
                <td>E:\TEST_Material\F_Вариант Омега_1975_P02_1080p25_H264_10Mbps.mp4</td>
              </tr>
              <tr>
                <th scope="row">Format</th>
                <td>MPEG-4</td>
              </tr>
              <tr>
                <th scope="row">Format profile</th>
                <td>Base Media / Version 2</td>
              </tr>
              <tr>
                <th scope="row">Codec ID</th>
                <td>mp42 (mp42/mp41)</td>
              </tr>
              <tr>
                <th scope="row">File size</th>
                <td>4.96 GiB</td>
              </tr>
              <tr>
                <th scope="row">Duration</th>
                <td>1 h 9 min</td>
              </tr>
            </tbody>
          </table>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="col-2">Video</th>
                <th class="col-6"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">ID</th>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">Format</th>
                <td>AVC</td>
              </tr>
            </tbody>
        </table>

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h6 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCheck" aria-expanded="false" aria-controls="collapseCenz">
          Авто сканеры
        </button></h6>
      <div id="collapseCheck" class="accordion-collapse collapse" data-bs-parent="#accordion_sum_info">
        <div class="accordion-body">
          <div class="card mx-1 my-2 boarder">
            <div><small class="text-body-secondary m-2">R128</small></div>
            <img id="r_128" src="/static/waveforms/F_25_039XV_H_1080p25_H264_6Mbps_WaveForm.png" class="img-fluid w-100 mx-auto d-block" alt="..." style="height: 190px;">
            <div class="text-body-secondary text-center mb-2">I = 23, LRA = 2, THR = 12</div>
          </div>
          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="black_form" style="height: 100px">Не найдено</textarea>
            <label for="black_form">Чёрные поля</label>
          </div>
          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="silence_form" style="height: 100px">00:21-00:45</textarea>
            <label for="silence_form">Тишина</label>
          </div>
          <div class="form-floating mx-1 my-2">
            <textarea class="form-control" id="freeze_form" style="height: 100px">Не найдено</textarea>
            <label for="freeze_form">Стоп-кадр</label>
          </div>
        </div>
      </div>
    </div>
  </div>