<div class="card shadow-sm mx-1 my-2">
  <div class="card-header p-2">
    <h6 class="material_name m-0"><a href="{% url 'home' %}{{ material.Task_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
      {{ material.Progs_name }}{% if material.Progs_production_year %} ({{ material.Progs_production_year }}){% endif %}</a></h6>
  </div>
  <div class="card-body p-0">
    <div class="row-cols p-2">
      <span class="badge" style="background-color: {{ material.color }};">
          {% if material.Task_sched_id %}{{ material.Task_sched_id|schedule_name }}
          {% elif not material.Task_sched_id %}{{ material.Sched_schedule_id|schedule_name }}
          {% endif %}</span>
      <span class="badge text-bg-danger">{% if material.Adult_Name %} {{ material.Adult_Name }}{% endif %}</span>
      <span class="badge text-bg-secondary">{{ material.Task_engineer_id|engineer_name }}</span>
      <span class="badge text-bg-secondary ms-auto">{{ material.Progs_duration|convert_frames_to_time }}</span>
    </div>
  </div>
</div>