{% extends  'main/index.html' %}

{% block body %}

<div class="container text-start p-0">
  <main>
    <div class="row p-0">
      <div class="col p-0">
        Пн
        {% include 'main/card_s.html' %}
        {% include 'main/card_s.html' %}
        {% include 'main/card_s.html' %}
        {% include 'main/card_s.html' %}
      </div>
      <div class="col p-0">
        Вт
        {% include 'main/card_s.html' %}
        {% include 'main/card_s.html' %}
      </div>
      <div class="col p-0">
        Ср
        {% include 'main/card_s.html' %}
        {% include 'main/card_s.html' %}
        {% include 'main/card_s.html' %}
      </div>
      <div class="col p-0">
        Чт
        {% include 'main/card_s.html' %}
      </div>
      <div class="col p-0">
        Пт
        {% include 'main/card_s.html' %}
        {% include 'main/card_s.html' %}
      </div>
      <div class="col p-0">
        Сб
        {% include 'main/card_s.html' %}
      </div>
      <div class="col p-0">
        Вс
        {% include 'main/card_s.html' %}
      </div>
    </div>
  </main>
</div>
{% endblock %}