{% extends  'main/index.html' %}


<main role="main">
{% block body %}
{% if permissions.week %}

  <nav class="nav d-flex border-bottom shadow py-2 mb-2 px-lg-5">
    <ul class="pagination my-0 me-auto">
      <li class="page-item">
        <a class="page-link link-light border-light" title="Назад" href="{% url 'home' %}week/{{ service_dict.prev_year }}/{{ service_dict.prev_week }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link link-light border-light" href="{% url 'home' %}week/{{ service_dict.work_year }}/{{ service_dict.work_week }}">{{ service_dict.work_week }}</a></li>
      <li class="page-item">
        <a class="page-link link-light border-light" title="Вперёд" href="{% url 'home' %}week/{{ service_dict.next_year }}/{{ service_dict.next_week }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
    {% include 'main/second_header.html' %}
  </nav>

  <div class="container-fluid text-start px-lg-5">
    <div class="row p-0">

      <div class="col p-0 mx-1" style="max-width:26rem">
        <div class="sticky-top text-center bg-body p-2">{{ week_material_list.0.0.weekday }}, {{ week_material_list.0.0.date|date:"d E" }}</div>
        {% for material in week_material_list.0 %}
          {% if material.type == 'film' %}
            {% include 'main/week_film.html' %}
          {% elif material.type == 'season' %}
            {% include 'main/week_season.html' %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="col p-0 mx-1" style="max-width:26rem">
        <div class="sticky-top text-center bg-body p-2">{{ week_material_list.1.0.weekday }}, {{ week_material_list.1.0.date|date:"d E" }}</div>
        {% for material in week_material_list.1 %}
          {% if material.type == 'film' %}
            {% include 'main/week_film.html' %}
          {% elif material.type == 'season' %}
            {% include 'main/week_season.html' %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="col p-0 mx-1" style="max-width:26rem">
        <div class="sticky-top text-center bg-body p-2">{{ week_material_list.2.0.weekday }}, {{ week_material_list.2.0.date|date:"d E" }}</div>
        {% for material in week_material_list.2 %}
          {% if material.type == 'film' %}
            {% include 'main/week_film.html' %}
          {% elif material.type == 'season' %}
            {% include 'main/week_season.html' %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="col p-0 mx-1" style="max-width:26rem">
        <div class="sticky-top text-center bg-body p-2">{{ week_material_list.3.0.weekday }}, {{ week_material_list.3.0.date|date:"d E" }}</div>
        {% for material in week_material_list.3 %}
          {% if material.type == 'film' %}
            {% include 'main/week_film.html' %}
          {% elif material.type == 'season' %}
            {% include 'main/week_season.html' %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="col p-0 mx-1" style="max-width:26rem">
        <div class="sticky-top text-center bg-body p-2">{{ week_material_list.4.0.weekday }}, {{ week_material_list.4.0.date|date:"d E" }}</div>
        {% for material in week_material_list.4 %}
          {% if material.type == 'film' %}
            {% include 'main/week_film.html' %}
          {% elif material.type == 'season' %}
            {% include 'main/week_season.html' %}
          {% endif %}
        {% endfor %}
      </div>
      {% if week_material_list.5.1 %}
        <div class="col p-0 mx-1" style="max-width:26rem">
          <div class="sticky-top text-center bg-body p-2">{{ week_material_list.5.0.weekday }}, {{ week_material_list.5.0.date|date:"d E" }}</div>
          {% for material in week_material_list.5 %}
            {% if material.type == 'film' %}
              {% include 'main/week_film.html' %}
            {% elif material.type == 'season' %}
              {% include 'main/week_season.html' %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      {% if week_material_list.5.1 %}
        <div class="col p-0 mx-1" style="max-width:26rem">
          <div class="sticky-top text-center shadow bg-body p-2">{{ week_material_list.6.0.weekday }}, {{ week_material_list.6.0.date|date:"d E" }}</div>
          {% for material in week_material_list.6 %}
            {% if material.type == 'film' %}
              {% include 'main/week_film.html' %}
            {% elif material.type == 'season' %}
              {% include 'main/week_season.html' %}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% else %}
  <h4 class="text-center">forbidden</h4>
{% endif %}
{% endblock %}
</main>
