<div class="card shadow-sm mx-1 my-2" style="border-color: {{ material.color }};">
  <div class="card-header p-2">
    <a href="{% url 'home' %}{{ material.Progs_parent_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
      <h6 class="m-0">{{ material.Progs_AnonsCaption }}{% if material.Progs_production_year %} ({{ material.Progs_production_year }}){% endif %}</h6>
    </a>
  </div>
</div>
{% for episode in material.episode|dictsort:"Progs_episode_num" %}
  <div class="row align-items-center">
    <div class="col ps-4" style="max-width:50px">
      <svg viewBox="0 0 24 54" class="DocSearch-Hit-Tree">
        <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
          <path d="M8 6v21M20 27H8.3"></path>
        </g>
      </svg>
    </div>
    <div class="col">
      <div class="card shadow mx-1 my-2 mt-0 p-0" style="border-color: {{ material.color }};">
        <div class="card-header p-2">
          <a href="{% url 'home' %}{{ episode.Progs_program_id }}"
             class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            <h6 class="my-0 mx-1">{{ episode.Progs_name }}</h6>
          </a>
        </div>
        <div class="card-body p-2">
          <div class="card-text m-0"><small class="text-body-secondary">
            Канал:
            <a href="#"
               class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
              {% if material.Task_sched_id %}{{ material.Task_sched_id|schedule_name }}{% elif not material.Task_sched_id %}{{ material.Sched_schedule_id|schedule_name }}{% endif %}
            </a></small>
          </div>
          <div class="card-text m-0"><small class="text-body-secondary">Возрастная категория:</small>
            <small class="text-body-primary">{% if episode.Adult_Name %} {{ episode.Adult_Name }}{% endif %}</small>
          </div>
          <div class="card-text m-0"><small class="text-body-secondary">
            Выполняет:
            <a href="#"
               class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
              {{ episode.Task_engineer_id|engineer_name }}
            </a></small>
          </div>
          <div class="card-text m-0"><small class="text-body-secondary">
            Хронометраж: </small>
            <small class="text-emphasis">
              {{ episode.Progs_duration|convert_frames_to_time }}
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}