{% extends  'main/index.html' %}


<main role="main">
{% block body %}
<div class="container-flex p-4">
  <form method="post">
    {% csrf_token %}

    <div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Ошибка!</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h5>Ни один файл не выбран!</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ApproveOTK" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Утвердить выбранные задачи?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button name="approve_otk" id="approve_otk" value="True" type="submit" class="btn btn-success">Утвердить</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ApproveFIX" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="ApproveFIXLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="ApproveFIXLabel">
                Отправить FIX в работу?
              </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="fix_list">

            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" name="approve_fix" id="approve_fix" value="True" class="btn btn-outline-warning">Отправить</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="FixOTK" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Отправить на доработку выбранные задачи?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button name="fix_otk" id="fix_otk" value="True" type="submit" class="btn btn-warning">На доработку</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex p-0 m-0 align-items-center justify-content-start">
      <div class="row ms-0 m-2 align-items-center">
        {% for field in form %}
          <div class="col ps-0">
            <div class="form-floating" style="width:200px;">
              {{ field }}
              {{ field.label_tag }}
            </div>
          </div>
        {% endfor %}
        <div class="col ps-0 m-0">
          <button type="submit" class="btn register-button btn-outline-secondary">Применить</button>
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex">
      <h6 class="pe-5">Всего: {{ service_dict.total_count }}</h6>
      <h6>Продолжительность: {{ service_dict.total_duration|convert_frames_to_time }}</h6>
    </div><br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 1%;"><input class="form-check-input me-1" type="checkbox" value="" id="full_select"></th>
          <th style="width: 25%;">Название</th>
          <th style="width: 5%;">Директория</th>
          <th style="width: 35%;">Имя файла</th>
          <th style="width: 10%;">Исполнитель</th>
          <th style="width: 7%;">Дата эфира</th>
          <th style="width: 7%;">Длительность</th>
          <th style="width: 10%;">Статус</th>
        </tr>
      </thead>
      <tbody class="table-group-divider" id="tableBody">
        {% for task in task_list %}
          <tr>
            <td>
              <input class="form-check-input me-1" type="checkbox"
                     value="{{ task.Task_program_id }};{{ task.Progs_name }};{% if task.Task_file_path %}{{ task.Task_file_path }}{% else %}{{ task.Files_Name }}{% endif %}"
                     name="program_id">
            </td>
            <td>
            <a href="{% url 'home' %}{{ task.Task_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            {{ forloop.counter }}. {{ task.Progs_name }}{% if task.Progs_production_year %} ({{ task.Progs_production_year }}){% endif %}</a></td>
            <td>{% if task.Task_file_path %}{{ task.Task_file_path|dir_name }}{% else %}{{ task.Files_Name|dir_name }}{% endif %}</td>
            <td>{% if task.Task_file_path %}{{ task.Task_file_path|file_name }}{% else %}{{ task.Files_Name|file_name }}{% endif %}</td>
            <td>
              <a href="{% url 'home' %}worker/{{ task.Task_engineer_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                {{ task.Task_engineer_id|engineer_name }}</a></td>
            <td>{{ task.Task_sched_date|date:'Y-m-d' }}</td>
            <td>{{ task.Task_duration|convert_frames_to_time }}</td>
            <td>{{ task.Task_task_status|status_name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex">
      <div class="me-auto">
        <button type="button" data-bs-toggle="modal" data-bs-target="#ApproveOTK" class="btn register-button btn-outline-success mx-2">Утвердить</button>
      </div>
      <div class="ms-auto">
        <button type="button" onclick="ProgramIdList()" class="btn register-button btn-outline-warning mx-2">Отправить FIX</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#FixOTK" class="btn register-button btn-outline-danger mx-2">На доработку</button>
      </div>
    </div>
  </form>
</div>

<script>
function ProgramIdList() {
    let FixList = ApproveFIX.querySelector('#fix_list');
    FixList.innerHTML = ''

    let checked_list = document.getElementsByName('program_id');
    let program_id_list = []

    for (let i = 0; i < checked_list.length; i++) {
        if (checked_list[i].checked) {
            program_id_list.push(checked_list[i].value);}
    }
    if (program_id_list.length > 0) {
        console.log('list');
        ApproveFIX = new bootstrap.Modal(document.getElementById('ApproveFIX'));
        ApproveFIX.toggle();
        for (let i = 0; i < checked_list.length; i++) {
            if (checked_list[i].checked) {
                let [prog_id, f_name, f_path] = checked_list[i].value.split(';')
                let file_name = document.createElement("h5");
                file_name.textContent = f_name;
                file_name.name = 'file_name'
                FixList.appendChild(file_name)

                sub_header = document.createElement("h6")
                sub_header.textContent = 'Комментарий по исправлению'
                FixList.appendChild(sub_header)

                let fix_comment = document.createElement("textarea");
                fix_comment.classList.add('form-control')
                fix_comment.name = 'fix_comment'
                fix_comment.style = 'min-height: 130px'
                fix_comment.placeholder = '1. Перекачан исходник\n2. Исправлен звук\n3. ...'
                FixList.appendChild(fix_comment)
                FixList.appendChild(document.createElement("br"))

                file_path_header = document.createElement("h6")
                file_path_header.textContent = 'Новый путь к файлу'
                FixList.appendChild(file_path_header)

                let fix_file_path = document.createElement("input");
                fix_file_path.classList.add('form-control')
                fix_file_path.name = 'fix_file_path'
                fix_file_path.type = 'text'
                fix_file_path.style = 'font-style: italic'
                fix_file_path.placeholder = `Старый: ${f_path}`
                FixList.appendChild(fix_file_path)
                FixList.appendChild(document.createElement("br"))

                let divider = document.createElement("hr")
                divider.style = 'width: 100%; size: 2;'
                FixList.appendChild(divider)
            }
        }
    }
    else
        {
            console.log('error');
            errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
            errorModal.toggle();


        }
    }
</script>

{% endblock %}
</main>

