{% extends  'main/index.html' %}


<main role="main">
{% block body %}
<div class="container-flex p-4">





  <form method="post">
    {% csrf_token %}

    <div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Ошибка!</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h5>Ни один файл не выбран!</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ApproveOTK" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Утвердить выбранные задачи?</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
            <button name="approve_otk" id="approve_otk" value="True" type="submit" class="btn btn-success">Утвердить</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="ApproveFIX" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="ApproveFIXLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="ApproveFIXLabel">
                Отправить перезалитый FIX в работу?
              </h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="fix_list">

            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" name="approve_fix" id="approve_fix" value="True" class="btn btn-outline-warning">Отправить</button>
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="OTKFail" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Отправить на доработку выбранные задачи?</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="otk_fail_list">

            </div>
          </div>
          <div class="modal-footer">
            <button name="otk_fail" id="otk_fail" value="True" type="submit" class="btn btn-warning">На доработку</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отмена</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex p-0 m-0 align-items-center justify-content-start">
      <div class="row ms-0 m-2 align-items-center">
        {% for field in form %}
          <div class="col ps-0">
            <div class="form-floating" style="width:200px;">
              {{ field }}
              {{ field.label_tag }}
            </div>
          </div>
        {% endfor %}
        <div class="col ps-0 m-0">
          <button type="submit" class="btn register-button btn-outline-secondary">Применить</button>
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex">
      <h6 class="pe-5">Всего: {{ service_dict.total_count }}</h6>
      <h6>Продолжительность: {{ service_dict.total_duration|convert_frames_to_time }}</h6>
    </div><br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 1%;"><input class="form-check-input me-1" type="checkbox" value="" id="full_select" onclick="changeProgramIdCheckbox()"></th>
          <th style="width: 25%;">Название</th>
          <th style="width: 5%;">Директория</th>
          <th style="width: 35%;">Имя файла</th>
          <th style="width: 10%;">Исполнитель</th>
          <th style="width: 7%;">Дата эфира</th>
          <th style="width: 7%;">Длительность</th>
          <th style="width: 10%;">Статус</th>
        </tr>
      </thead>
      <tbody class="table-group-divider" id="tableBody">
        {% for task in task_list %}
          <tr>
            <td>
              <input class="form-check-input me-1" type="checkbox"
                     value="{{ task.Task_program_id }};{{ task.Progs_name }};{% if task.Task_file_path %}{{ task.Task_file_path }}{% else %}{{ task.Files_Name }}{% endif %}"
                     name="program_id">
            </td>
            <td>
            <a href="{% url 'home' %}{{ task.Task_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
            {{ forloop.counter }}. {{ task.Progs_name }}{% if task.Progs_production_year %} ({{ task.Progs_production_year }}){% endif %}</a>
              {% if task.comments %}
              <span class="badge p-2 align-items-center text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">
                <span class="px-1"><a data-bs-toggle="popover" title="Крайний срок: {{ task.comments.0.deadline|date:'d.m.Y' }}" data-bs-content="{{ task.comments.0.comment }}">{{ task.comments|length }}</a></span>
              </span>
              {% endif %}</td>
            <td>{% if task.Task_file_path %}{{ task.Task_file_path|dir_name }}{% else %}{{ task.Files_Name|dir_name }}{% endif %}</td>
            <td>{% if task.Task_file_path %}{{ task.Task_file_path|file_name }}{% else %}{{ task.Files_Name|file_name }}{% endif %}</td>
            <td>
              <a href="{% url 'home' %}worker/{{ task.Task_engineer_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                {{ task.Task_engineer_id|engineer_name }}</a></td>
            <td>{{ task.Task_sched_date|date:'Y-m-d' }}</td>
            <td>{{ task.Task_duration|convert_frames_to_time }}</td>
            <td>{{ task.Task_task_status|status_name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex">
      <div class="me-auto">
        <button type="button" onclick="ShowApproveOTK()" class="btn register-button btn-outline-success mx-2">Утвердить</button>
      </div>
      <div class="ms-auto">
        <button type="button" onclick="ProgramIdList()" class="btn register-button btn-outline-warning mx-2">Отправить FIX</button>
        <button type="button" onclick="ShowOTKFail()" class="btn register-button btn-outline-danger mx-2">На доработку</button>
      </div>
    </div>
  </form>
</div>
<script>
window.addEventListener('load', function() {
    let fullSelectCheckbox = document.getElementById('full_select');
    let program_id_list = document.getElementsByName('program_id');
    program_id_list.forEach(function(program_id) {
    program_id.addEventListener('change', changeFullSelect);
    });

    function changeFullSelect() {
        let checked_list = [];
            for (let i = 0; i < program_id_list.length; i++) {
                if (program_id_list[i].checked) {
                    checked_list.push(program_id_list[i]);
                }
            };
        if (0 < checked_list.length && checked_list.length < program_id_list.length) {
        fullSelectCheckbox.indeterminate = true;
        fullSelectCheckbox.checked = false;
        }
        else if (checked_list.length == program_id_list.length) {
        fullSelectCheckbox.indeterminate = false;
        fullSelectCheckbox.checked = true;
        }
        else if (checked_list.length == 0) {
        fullSelectCheckbox.indeterminate = false;
        fullSelectCheckbox.checked = false;
        }
    };
});

function changeProgramIdCheckbox() {
    let fullSelectCheckbox = document.getElementById('full_select');
    let program_id_list = document.getElementsByName('program_id');
    let checked_list = [];
        for (let i = 0; i < program_id_list.length; i++) {
            if (program_id_list[i].checked) {
                checked_list.push(program_id_list[i]);
            }
        };
    if (checked_list.length > 0) {
        fullSelectCheckbox.indeterminate = false;
        fullSelectCheckbox.checked = false;
        for (let i = 0; i < program_id_list.length; i++) {
            program_id_list[i].checked = false;
        };
    }
    else {
        fullSelectCheckbox.indeterminate = false;
        fullSelectCheckbox.checked = true;
        for (let i = 0; i < program_id_list.length; i++) {
            program_id_list[i].checked = true;
        };
    }
};

function ShowApproveOTK() {
    let checked_list = document.getElementsByName('program_id');
    let program_id_list = [];

    for (let i = 0; i < checked_list.length; i++) {
        if (checked_list[i].checked) {
            program_id_list.push(checked_list[i].value);}
        }
    if (program_id_list.length > 0) {
        ApproveOTK = new bootstrap.Modal(document.getElementById('ApproveOTK'));
        ApproveOTK.toggle();
    }
    else {
        console.log('error');
        errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
        errorModal.toggle();
    }
};

function ProgramIdList() {
    let FixList = document.getElementById('fix_list');
    FixList.innerHTML = ''

    let checked_list = document.getElementsByName('program_id');
    let program_id_list = []

    for (let i = 0; i < checked_list.length; i++) {
        if (checked_list[i].checked) {
            program_id_list.push(checked_list[i].value);
        }
    }
    if (program_id_list.length > 0) {
        ApproveFIX = new bootstrap.Modal(document.getElementById('ApproveFIX'));
        ApproveFIX.toggle();
        for (let i = 0; i < checked_list.length; i++) {
            if (checked_list[i].checked) {
                let [prog_id, f_name, f_path] = checked_list[i].value.split(';')

                let fix_prog_id = document.createElement("input");
                fix_prog_id.type = 'hidden';
                fix_prog_id.name = 'fix_prog_id';
                fix_prog_id.value = prog_id;
                FixList.appendChild(fix_prog_id);

                let file_name = document.createElement("h5");
                file_name.classList.add('my-2');
                file_name.textContent = f_name;
                file_name.name = 'file_name'
                FixList.appendChild(file_name);

                sub_header = document.createElement("h6");
                sub_header.textContent = 'Комментарий по исправлению';
                FixList.appendChild(sub_header);

                let fix_comment = document.createElement("textarea");
                fix_comment.classList.add('form-control');
                fix_comment.classList.add('my-2');
                fix_comment.name = 'fix_comment';
                fix_comment.style = 'min-height: 130px';
                fix_comment.placeholder = '1. Перекачан исходник\n2. Исправлен звук\n3. ...';
                FixList.appendChild(fix_comment);

                file_path_header = document.createElement("h6");
                file_path_header.textContent = 'Новый путь к файлу';
                FixList.appendChild(file_path_header);

                let fix_file_path = document.createElement("input");
                fix_file_path.classList.add('form-control');
                fix_file_path.classList.add('my-2');
                fix_file_path.name = 'fix_file_path';
                fix_file_path.type = 'text';
                fix_file_path.style = 'font-style: italic';
                fix_file_path.placeholder = `Старый: ${f_path}`;
                FixList.appendChild(fix_file_path);

                let divider = document.createElement("hr");
                divider.style = 'width: 40%; size: 2;';
                FixList.appendChild(divider);
            }
        }
    }
    else
        {
            console.log('error');
            errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
            errorModal.toggle();


        }
    };

  function ShowOTKFail() {
  let OTKFailList = document.getElementById('otk_fail_list');
    OTKFailList.innerHTML = ''

    let checked_list = document.getElementsByName('program_id');
    let program_id_list = [];

    for (let i = 0; i < checked_list.length; i++) {
        if (checked_list[i].checked) {
            program_id_list.push(checked_list[i].value);}
    }
    if (program_id_list.length > 0) {
        OTKFail = new bootstrap.Modal(document.getElementById('OTKFail'));
        OTKFail.toggle();

        for (let i = 0; i < checked_list.length; i++) {
            if (checked_list[i].checked) {

                let [prog_id, f_name, f_path] = checked_list[i].value.split(';')

                let otk_fail_prog_id = document.createElement("input");
                otk_fail_prog_id.type = 'hidden';
                otk_fail_prog_id.name = 'otk_fail_prog_id';
                otk_fail_prog_id.value = prog_id;
                OTKFailList.appendChild(otk_fail_prog_id);

                let file_name = document.createElement("h5");
                file_name.classList.add('my-2');
                file_name.textContent = f_name;
                file_name.name = 'file_name'
                OTKFailList.appendChild(file_name);

                sub_header = document.createElement("h6");
                sub_header.textContent = 'Комментарий по необходимой доработке';
                OTKFailList.appendChild(sub_header);

                let otk_fail_comment = document.createElement("textarea");
                otk_fail_comment.classList.add('form-control');
                otk_fail_comment.classList.add('my-2');
                otk_fail_comment.name = 'otk_fail_comment';
                otk_fail_comment.style = 'min-height: 130px';
                otk_fail_comment.placeholder = '1. Таймкод - суть проблемы\n2. Таймкод - суть проблемы\n3. ...';
                OTKFailList.appendChild(otk_fail_comment);

                let divider = document.createElement("hr");
                divider.style = 'width: 40%; size: 2;';
                OTKFailList.appendChild(divider);
            }
        }
    }
    else {
            console.log('error');
            errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
            errorModal.toggle();
      }
    };

</script>


<script>
var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
});
</script>

{% endblock %}
</main>

