{% extends  'main/index.html' %}

<main>
{% block body %}
  <div class="container-fluid text-start px-lg-5">
    <br><h4>Расширенный поиск:</h4><br>
    {% load static %}

    <form method="get" action="{% url 'advanced_search' %}" class="mx-lg-3" role="search">
    <div class="input-group mb-3">
      <label class="input-group-text" for="search_id">Поиск по</label>
      {{ form.search_id }}
      {{ form.engineers }}
      {% if search_id == 3 %}
        <input class="form-control" name="search_input" id="search_input" type="text" value="{% if search_query %}{{ search_query }}{% endif %}" placeholder="введите запрос ..." style="width: 90rem;" hidden>
      {% else %}
        <input class="form-control" name="search_input" id="search_input" type="text" value="{% if search_query %}{{ search_query }}{% endif %}" placeholder="введите запрос ..." style="width: 90rem;">
      {% endif %}
      {{ form.sql_set }}
        <button type="submit" class="btn btn-outline-secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
    </div>
    </form><br>

    <h5>Результатов: {{ search_list|length }}</h5>
    <hr width="100%" size="2"><br>
    {% if search_list %}
      {% for material in search_list %}
        <div class="card shadow mx-lg-3 my-2">
          <div class="card-header p-2">
            <div class="d-flex flex-wrap align-items-start">
              <div class="me-auto text-start">
                <a href="{% url 'home' %}{{ material.Progs_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                  <h6 class="my-0 mx-1">{{ material.Progs_name }}{% if material.Progs_production_year %} ({{ material.Progs_production_year }}){% endif %}</h6>
                </a>
              </div>
              <div class="text-end">
                <small class="text-body-secondary my-0 mx-1">{{ material.Files_Name|dir_no_host_name }} - {{ material.Files_Size|convert_bytes:'b' }} - {{ material.Files_ModificationTime|date:"d.m.Y" }}</small>
              </div>
            </div>
          </div>
          <div class="card-body p-2">
            <div class="row">
              {% if search_id == 4 or search_id == 5 %}
                <div class="col">
                  <p class="card-text m-0"><small class="text-body-secondary">Канал: </small>
                    <small class="text-body-primary">{{ material.SchedDay_schedule_id|schedule_name }}</small>
                  </p>
                </div>
              {% endif %}
              <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">Возрастная категория: </small>
                  <small class="text-body-primary">{{ material.Adult_Name }}</small>
                </p>
              </div>
              <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">Дата отсмотра: </small>
                  <small class="text-body-primary">
                    {% if material.Task_work_date %}
                      {{ material.Task_work_date|date:"d E Y" }}
                    {% elif material.SchedDay_day_date %}
                      {{ material.SchedDay_day_date|date:"d E Y" }}
                    {% elif material.work_date %}
                      {{ material.work_date|date:"d E Y" }}
                    {% else %}
                      Не отсмотрен
                    {% endif %}
                  </small>
                </p>
              </div>
              <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">
                Исполнитель: <a href="{% url 'home' %}worker/{% if material.Task_engineer_id %}{{ material.Task_engineer_id }}{% else %}{{ material.engineer_id }}{% endif %}"
                                class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                  {% if material.Task_engineer_id %}
                    {{ material.Task_engineer_id|engineer_name }}
                  {% else %}
                    {{ material.engineer_id|engineer_name }}
                  {% endif %}
                </a></small>
                </p>
              </div>
              <div class="col">
                <p class="card-text m-0"><small class="text-body-secondary">Продолжительность: </small>
                  <small class="text-body-primary">{{ material.Progs_duration|convert_frames_to_time }}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div><br>

<script type="text/javascript" src="{% static 'js/advanced_search.js' %}"></script>
{% endblock %}
</main>