<!-- planner/file_manager/templates/file_manager/file_manager.html -->
{% extends 'main/index.html' %}
{% load static %}

{% block body %}
<link href="{% static 'css/file_manager.css' %}" rel="stylesheet">

<div class="container-flex px-lg-5">
    <br>

    <!-- Фильтры -->
    <div class="row mx-0 mb-3 align-items-center">
        <div class="col col-1 ps-0">
                <select class="form-select" id="status_filter">
                    <option value="">Все статусы</option>
                    <option value="pending">Ожидает</option>
                    <option value="copying">Копирование</option>
                    <option value="verifying">Проверка</option>
                    <option value="completed">Завершено</option>
                    <option value="error">Ошибка</option>
                </select>
        </div>

        <div class="col ps-0">
            <!-- Поиск -->
            <div class="input-group">
                <label class="input-group-text" for="search_input">Поиск</label>
                <input type="text" class="form-control" id="search_input" placeholder="Поиск по имени файла...">
                <button type="button" class="btn btn-outline-secondary" onclick="loadFileManager()" style="width: 7rem;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- Контейнер для таблицы -->
    <div id="file_manager_container"></div>
</div>

<script src="{% static 'js/file_manager.js' %}"></script>
{% endblock %}