{% extends 'main/index.html' %}
{% load static %}


{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'css/ui_dropdown.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}"/>
<link href="{% static '/css/playlist.css' %}" rel="stylesheet">


<script type="text/javascript" src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment-2.30.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daterangepicker-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Semantic-UI-master/dist/semantic.min.js' %}"></script>


<div class="container-fluid p-0">
    <div class="row g-0">
        <!-- Сайдбар -->
        <div class="col-md-3 col-lg-2">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary h-100 overflow-auto">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
                    <i class="bi bi-speedometer2 me-2"></i>
                </a>
                <ul class="nav nav-pills flex-column mb-auto">
                    <!-- Каналы с подпунктами -->
                    <li class="nav-item mb-2">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#channels-collapse">
                            <i class="bi bi-collection-play me-2"></i>
                            Каналы
                        </button>
                        <div class="collapse show" id="channels-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                                <li class="ms-2" style="cursor: pointer;">
                                    <a class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                                        data-schedule-name="Все"
                                        data-schedule-id=""
                                        data-editor-name="Редактор"
                                        data-editor-id=""
                                        data-description="Описание" onclick="updateScheduleTable(this)">
                                        Все
                                    </a>
                                </li>
                                {% for channel in service_dict.schedule_list %}
                                    <li class="ms-2" style="cursor: pointer;"
                                        data-schedule-name="{{ channel.schedule_id|schedule_name }}"
                                        data-schedule-id="{{ channel.schedule_id }}"
                                        data-editor-name="{{ channel.editor_id|engineer_name }}"
                                        data-editor-id="{{ channel.editor_id }}"
                                        data-description="{{ channel.description }}" onclick="updateScheduleTable(this)">
                                        <a class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                            {{ channel.schedule_id|schedule_name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>

                    <!-- Редакторы с подпунктами -->
                    <li class="nav-item mb-2">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#users-collapse">
                            <i class="bi bi-people me-2"></i>
                            Редакторы
                        </button>
                        <div class="collapse" id="users-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                                <li class="ms-2"><a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    Редактор 1</a></li>
                                <li class="ms-2"><a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    Редактор 2</a></li>
                                <li class="ms-2"><a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                                    Редактор 3</a></li>
                            </ul>
                        </div>
                    </li>

                    <!-- Статистика с подпунктами -->
                    <li class="nav-item mb-2">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                data-bs-toggle="collapse"
                                data-bs-target="#stats-collapse">
                            <i class="bi bi-graph-up me-2"></i>
                            Статистика
                        </button>
                        <div class="collapse" id="stats-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                                <li class="ms-2"><a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">По дням</a></li>
                                <li class="ms-2"><a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">По неделям</a></li>
                                <li class="ms-2"><a href="#" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">По месяцам</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Основной контент -->
        <div class="col-md-9 col-lg-10 h-100 overflow-hidden">
            <div class="d-flex flex-column" id="channel_list_container">
                <!-- Информация о канале -->
                <div class="p-4" id="channel_info_container">
                    <div class="d-flex align-items-center">
                        <span class="me-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-exclamation-triangle-fill text-warning" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                            </svg>
                        </span>
                        <div id="channel_info">
                            <h6 class="text-muted mb-1">Канал:</h6>
                            <h3 class="mb-2" id="current_schedule" data-current-schedule-id="">Все</h3>
                            <h5 class="text-secondary mb-2" id="current_editor" data-current-editor="">Редактор</h5>
                            <p class="text-muted mb-0" id="current_schedule_description">Описание...</p>
                        </div>
                    </div>
                </div>

                <!-- Таблица с пагинацией -->
                <div class="border-top d-flex flex-column" style="height: calc(100vh - 17rem);">
                    <div class="row align-items-center p-2 flex-shrink-0">
                        <div class="col-auto">
                            {{ form.schedule_date.label_tag }}
                        </div>
                        <div class="col-auto">
                            {{ form.schedule_date }}
                        </div>
                    </div>
                     <div class="flex-grow-1 p-2 overflow-auto">
                        <div class="h-100" id="schedule_table_container">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/playlist.js' %}"></script>
{% endblock %}