{% load custom_filters %}
<div class="schedule-item-container {% if item.program_type_id == 9 %}is_advert{% else %}is_program{% endif %}" id="item_{{ item.scheduled_program_id }}"
     data-scheduled-program_id="{{ item.scheduled_program_id }}" data-parent="{{ item.ParentID|default:'' }}"
     data-level="{{ item.Level }}">

    <div class="schedule-item border-bottom row table-row level-{{ item.Level }}
        {% if item.SuitableMaterial %}text-light-emphasis bg-light-subtle{% endif %}">
        <div class="col" style="min-width: 5%">
            {{ item.DateTime|date:"H:i:s" }}
        </div>
        <div class="col" style="min-width: 57%; padding-left: calc({{ item.Level }} * 2rem);">
            <div class="material-name d-flex align-items-center justify-content-start ms-2 p-1">
                {% if item.children %}
                    <div class="folder-toggle me-2" style="cursor: pointer;"
                         id="toggle-{{ item.scheduled_program_id }}"
                         onclick="toggleScheduleItem('{{ item.scheduled_program_id }}')">
                        <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                    </div>
                {% endif %}

                <span class="mx-2">
                    {% if item.program_id %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
                          <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z"/>
                        </svg>
                    {% elif item.SlotType == 1 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                          <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                        </svg>
                    {% elif item.SlotType == 2 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection-play" viewBox="0 0 16 16">
                          <path d="M2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3m2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1m2.765 5.576A.5.5 0 0 0 6 7v5a.5.5 0 0 0 .765.424l4-2.5a.5.5 0 0 0 0-.848z"/>
                          <path d="M1.5 14.5A1.5 1.5 0 0 1 0 13V6a1.5 1.5 0 0 1 1.5-1.5h13A1.5 1.5 0 0 1 16 6v7a1.5 1.5 0 0 1-1.5 1.5zm13-1a.5.5 0 0 0 .5-.5V6a.5.5 0 0 0-.5-.5h-13A.5.5 0 0 0 1 6v7a.5.5 0 0 0 .5.5z"/>
                        </svg>
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                          <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                          <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    {% endif %}
                </span>
                <a class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                   style="cursor: pointer;" {% if item.MediumName %}title="{{ item.MediumName }}"{% endif %}
                   data-scheduled-program-id="{{ item.scheduled_program_id }}"
                   data-ParentID="{{ item.ParentID }}" href="{% url 'home' %}{{ item.program_id }}">
                    {{ item.name }}
                </a>
            </div>
        </div>

        <div class="col" style="min-width: 8%">
            {% if item.duration %}
                {{ item.duration|convert_frames_to_time }}
            {% endif %}
        </div>

        <div class="col" style="min-width: 13%" data-created-by="{{ item.CreatedBy }}">{{ item.CreatedByName }}</div>
        <div class="col" style="min-width: 12%">{{ item.LastEditTime|date:"d.m.Y" }}</div>
        <div class="col" style="min-width: 5%">
            {% if item.task_status == 'final' %}
                <span class="badge bg-success" data-planner-status="{{ item.task_status }}" data-oplan-ready="{{ item.oplan_ready }}">Да</span>
            {% elif not item.task_status and item.oplan_ready %}
                <span class="badge bg-success" data-planner-status="{{ item.task_status }}" data-oplan-ready="{{ item.oplan_ready }}">Да</span>
            {% else %}
                <span class="badge bg-danger" data-planner-status="{{ item.task_status }}" data-oplan-ready="{{ item.oplan_ready }}">Нет</span>
            {% endif %}
        </div>
    </div>

    {% if item.children %}
        <div class="schedule-children" id="children_{{ item.scheduled_program_id }}">
            {% for child in item.children %}
                {% include "playlist/schedule_day_item.html" with item=child %}
            {% endfor %}
        </div>
    {%  endif %}
</div>

