{% extends  'main/index.html' %}

<main>
{% block body %}

  <div class="container-xxl px-lg-5">
    {% if messages %}
      {% for message in messages %}
        <br><div class="alert alert-warning" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <br><br><div class="row justify-content-center">
      <div class="card justify-content-center p-4" style="width: 50rem; height: 25rem;">
        <h4 class="text-center">Авторизация</h4>
        <form method="post">
            {% csrf_token %}
          <br><div class="mb-3">
            <label for="inputEmail" class="form-label">Имя пользователя</label>
            <input type="text" class="form-control" id="inputEmail" name="username">
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="inputPassword" name="password">
          </div>
          <button type="submit" class="btn btn-outline-primary">Войти</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
</main>
