<div class="card p-0" style="border-color: {{ material.color }};" data-program-id="{{ material.Task_program_id }}" data-duration="{{ material.Task_duration }}">
  <div class="card-header p-2">
    <h6 class="material_name m-0"><a href="{% url 'home' %}{{ material.Task_program_id }}" class="link-body-emphasis link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
      {{ material.Progs_name }}{% if material.Progs_production_year %} ({{ material.Progs_production_year }}){% endif %}</a></h6>
  </div>
  <div class="card-body p-0">
    <div class="row-cols p-2">
      <span class="badge text-warning-emphasis bg-warning-subtle border border-warning-subtle">
          {% if material.Task_sched_id %}{{ material.Task_sched_id|schedule_name }}
          {% elif not material.Task_sched_id %}{{ material.Sched_schedule_id|schedule_name }}
          {% endif %}</span>
      <span class="badge text-danger-emphasis bg-danger-subtle border border-danger-subtle">{% if material.Adult_Name %} {{ material.Adult_Name }}{% endif %}</span>
      <span class="badge text-success-emphasis bg-success-subtle border border-success-subtle">{% if material.Task_task_status %} {{ material.Task_task_status|status_name }}{% endif %}</span>
      <span class="badge text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle ms-auto">{{ material.Task_duration|convert_frames_to_time }}</span>
    </div>
  </div>
</div>