<div class="col d-flex flex-column">
  <div class="d-flex rounded mb-2" id="markerName_{{ list_id }}">
    <input class="form-control form-control-sm m-1" name="input-markerName" data-list-id="{{ list_id }}" value="{{ list_name }}" disabled>
    <button type="button" onclick="EditListMarker(this)" class="btn btn-sm ms-0 m-1 opacity-75" name="btn-edit" id="editBtn_{{ list_id }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16" style="vertical-align: middle;">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
      </svg>
    </button>

    <button type="button" class="btn btn-sm ms-0 m-1 opacity-75" name="btn-apply" style="display: none;" id="applyBtn_{{ list_id }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16" style="vertical-align: middle;">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
      </svg>
    </button>
  </div>
  <div class="cards_container" id="cards_container_{{ list_id }}">{% for material in cards %}{% include 'desktop/card.html' %}{% endfor %}</div>
</div>
