<form id="distributionForm">
    <div class="dropdown-menu dropdown-menu-lg-start px-4 py-2" style="min-width: 25rem;">
        <div class="">
            <div class="text-secondary p-1">{{ distribution_form.distr_sched_end_date.label }}</div>
            {{ distribution_form.distr_sched_end_date }}
        </div>
        <div class="">
            <div class="text-secondary p-1">{{ distribution_form.distr_sched_id.label }}</div>
            {{ distribution_form.distr_sched_id }}
        </div>
        <div class="d-grid mt-4 mb-2">
            <button onclick="startDistribution()" class="btn text-danger-emphasis bg-danger-subtle border border-danger-subtle hover-danger" type="button">Распределить</button>
        </div>
    </div>
</form>
