DJANGO_SECRET_KEY=
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=

MEDIA_SERVER_IP=
STREAMING_SERVER_PORT=

ODBC_DRIVER=
DB_MSSQL_HOST=
DB_MSSQL_PORT=
# только для внутреннего пользования read/write
DB_MSSQL_USER=
DB_MSSQL_PASSWORD=

DB_MONGO_PORT=
# только для внешнего пользования read
DB_MONGO_USER=
DB_MONGO_PASSWORD=

# Redis configuration
REDIS_PASSWORD=
REDIS_PORT=
