DJANGO_SERVER_IP=

DB_MSSQL_HOST=
DB_MSSQL_PORT=
DB_MSSQL_USER=
DB_MSSQL_PASSWORD=

MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
DB_MONGO_PORT=
DB_MONGO_USER=
DB_MONGO_PASSWORD=

REDIS_PASSWORD=
REDIS_PORT=

FLOWER_PORT=
FLOWER_USER=
FLOWER_PASSWORD=
FLOWER_PREFIX=
